.tabContent > .active {
  display: block;
}
.tabPane {
  color: #f4f4f4;
}
.fade {
  transition: opacity 0.15s linear;
}
.marketOdd {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 991px) {
  .sportInfoMain {
    display: contents;
    width: 900px;
  }
  .header-info {
    width: 100%;
    padding: 0 20px;
    border-bottom: 1px solid rgba(112, 112, 112, 0.1);
  }

  .header-info > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
  }

  .header-info ul li:nth-child(1) {
    border-right: none;
  }
  /* .header-info ul li a {
          margin: 0 110px;
        } */

  .sportInfoMain {
    width: 100%;
    padding: 0 20px;
  }

  .main-info {
    padding: 0 20px;
  }
}

.mainMarketData ul {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 460px) {
  .marketOdd{
    
  }
}

/* Iphone 12pro max */
@media screen and (max-width: 428px) {
  .sportInfoMain {
    margin-left: -20px;
    width: 100%;
    display: contents;
  }
  .card-info {
    margin-left: 5px;
  }
  .header-info ul li {
    gap: 10px;
  }
  .header-info ul li {
    margin-left: -120px;
    margin-right: -90px;
  }
  .header-info ul li a {
    margin-right: 250px;
    margin-left: 50px;
  }
  .header-info ul li a.active {
    margin-right: 5px;
  }
}

/* Iphone 12 pro */
@media screen and (max-width: 390px) {
  .main-info {
    margin-left: -10px;
    margin-right: 35px;
  }
  .card-content
    .data-list
    .league-matchTeam
    .league-matchName
    ul
    li:nth-child(1)
    div
    p:nth-child(1)
    span {
    display: none;
  }
  .league-matchBlock {
    margin-right: -25px;
  }
  .header-info ul li a.active {
    margin-right: 50px;
  }

  /* .card-content .data-list .league-matchTeam .league-matchBlock ul li {
        } */
}

@media screen and (max-width: 320px) {
  .main-info {
    display: contents;
  }
  .card-info {
    margin-left: 0;
  }
}

@media screen and (max-width: 375px) {
  .main-info {
    margin-left: -20px;
    margin-right: 0;
  }
  .main-info {
  }
  .sportInfoMain {
  }
}

main {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 25px;
}

.sporting {
  overflow-x: hidden;
  /* display: contents; */
  /* overflow: hidden; */
}

.mainMain {
  position: relative;
  margin-top: 180px;
}

@media screen and (max-width: 991px) {
  .mainMain {
    position: relative;
    display: block;
  }
}

@media screen and (max-width: 482px) {
  .mainMain {
    /* overflow: hidden; */
    margin: 0;
    width: 420px;
    overflow: hidden;
  }
}
