.ccordiontoggleodd:nth-child(odd) {
  background-color: #f5f5f5;
  margin-top: 10px;
}

.leftbox {
  float: left;
  min-height: 66px;
  min-width: 66px;

  margin: 0 2px;
  cursor: pointer;
}
.leftbox p {
  padding: 10px 2px;
  color: #000;
  font-size: 14px;
  height: 100%;
  line-height: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.bluebox {
  background-color: #ffc373ff;
  min-height: 66px;
  min-width: 66px;
  margin: 10px;
  margin-right: 40px;
  float: right;
}
.bluebox span {
  margin-top: 15px;
  font-weight: bold;
}

.matchiconname {
  padding-left: 10px;
}

tr.accordion-toggle td.league-img-td-width .match-icon-name p {
  align-items: center;
  margin-right: 10px;
}
.othermarketsection p {
  background-color: #ebebeb;
  padding: 10px 0.75rem;
  border-radius: 6px;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navTitle {
  padding: 1.5rem 0.5rem;
  display: flex;
  width: 100%;
  align-items: baseline;
  margin-top: -40px;
}
.navTitle .navTitleSub {
  flex-grow: 1;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
  border-bottom: 2px solid #f0f0f0;
}
.nav li {
  text-align: center;
  padding-right: 3vw;
}
.nav .navItem {
  line-height: 40px;
  margin-bottom: -1px;
}
.navItem .navLink {
  color: #d9d9d9;
  font-size: 15px;
  font-weight: bold;
  /* padding: 0; */
}
.navItem .navLink:hover {
  color: #495057;
}
.navLink.active {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}
.navTitle ul li a.active {
  border: 0;
  border-bottom: 4px solid #f8c237 !important;
  /* color: #707070;
        font-size: 18px; */
  width: 100%;
  padding-left: 7px;
  padding-right: 7px;
  font-weight: bold;
}

.tabContent > .active {
  display: block;
}
.tabPane {
  color: #f4f4f4;
}
.fade {
  transition: opacity 0.15s linear;
}
.marketOdd {
  display: flex;
  flex-wrap: wrap;
}

.marketOdd .marketOddData:nth-child(1) {
  margin-left: 0;
}
.marketOdd .marketOddData {
  width: calc(100% / 2 - 10px);
  margin: 0 2px;
  color: #000;
  border-radius: 5px;

  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-bottom: 10px;
  display: inline;
}
.marketNameHeading {
  font-size: 12px;
  background-color: #ebebeb;
  padding: 15px 0.75rem;
  border-radius: 6px;
  margin-bottom: 5px;
}
.title {
  display: flex;
  justify-content: space-between;
}
.marketNameHeading span:last-child {
  color: #000;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.marketNameHeading .marketDataCard {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: inline-block;
  width: 100%;
}
.marketDataCard .marketDataHeading {
  display: inline-block;
  width: 100%;
}
.marketDataHeading ul {
  display: inline-block;
  width: 100%;
  padding: 0 10px;
}
.marketDataHeading li {
  min-height: inherit !important;
  font-weight: 600;
  color: #707070;
  list-style: none;
  float: right;
  width: 66px;
  text-align: center;
  margin: 0 2px;
}
.marketNameHeading span:first-child {
  font-weight: 600;
}

.mainMarketData ul {
  display: flex;
  margin: 0 0 10px 0;
  width: 100%;
  justify-content: space-between;
  background: #f5f5f5;
  padding: 5px 10px;
  border-radius: 5px;
  list-style: none;
}

.mainMarketData .blueBox {
  line-height: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  background-color: #ffc373;
}
.mainMarketData ul li {
  float: left;
  width: 66px;
  text-align: center;
  flex-direction: column;
  display: flex;
  margin: 0 2px;
  justify-content: center;
  min-height: 66px;
}
.viewMarket a {
  color: #707070;
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
  display: inline-block;
  float: right;
}

.mobellipsistext {
  font-weight: bolder;
}
