main {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 25px;
}

.sporting {
  /* overflow-x: hidden; */
  /* display: contents; */
  /* overflow: hidden; */
}

.mainMain {
  position: relative;
  margin-top: 180px;
}

.main-info {
  margin-top: 100px;
}

.header-info {
  width: 100%;
  margin-bottom: 6px;
}
.mainMain {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 185px;
  gap: 10px;
}
.main {
  position: relative;
}
.banner {
  height: auto;
  background: #fff;
  margin-bottom: 10px;
}
.banner .banerMain {
  border-radius: 20px;
  width: 100%;
  object-position: center !important;
  display: table;
}
.banner .iconbaner {
  width: 50px;
  border-radius: 5px;
  height: 50px;
  padding: 3px;
}
.banner .leagueBannerMain {
  left: 10px;
  top: 10px;
  z-index: 0;
  height: 50px;
  position: absolute;
  background: #fff;
  border-radius: 5px;
  width: 50px;
}
.banner .leagueBanner {
  width: 50px;
  border-radius: 5px;
  height: 50px;
  padding: 3px;
  object-fit: contain;
}
.banner .matchIcon {
  top: 32%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  position: absolute;
}
.banner .matchIcon ul {
  display: flex;
  justify-content: center;
  width: 100%;
}
.banner .matchIcon ul li {
  width: 50%;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding: 0 15px;
  list-style: none;
}
.banner .matchIcon ul li img {
  width: 50px;
  height: 50px;
  border-radius: 0;
  margin: 0 auto;
  display: table;
  object-fit: contain;
}
.banner .matchIcon ul li span {
  padding: 0px;
  margin: 0px;
  outline: none;
  list-style: none;
}
.banner .matchIcon ul li p {
  align-items: center;
  margin-top: 10px;
}
.sportInfoMain {
  display: block;
  width: 100%;
  /* margin-top: 150px; */
}
.sportInfoMain span img {
  width: 25px;
  margin-right: 10px;
}
.header-info ul {
  margin-top: 20px;
  border-bottom: 0;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.header-info ul li:nth-child(1) {
  padding-right: 20px;
  border-right: 1px solid #707070;
}

.header-info ul li a {
  font-size: 16px;
  font-weight: bold;
  color: rgba(112, 112, 112, 0.5) !important;
  padding: 0;
  border: 0;
}

.header-info ul li a.active {
  position: relative;
  color: #2c2e35 !important;
}

.header-info ul li a.active::before {
  content: " ";
  height: 2px;
  position: absolute;
  left: 0;
  border-radius: 65px;
  width: 100%;
  bottom: -2px;

  background: linear-gradient(#27aae1, #1c75bc) !important;
}

.header-info ul li:nth-child(2) {
  padding-left: 20px;
}

@media screen and (max-width: 991px) {
  .header-main {
    margin: 0 20px;
  }

  .mainMain {
    position: relative;
    display: block;
  }
  .sportInfoMain {
    display: contents;
    width: 900px;
  }
  .header-info {
    width: 100%;
    padding: 0 20px;
    border-bottom: 1px solid rgba(112, 112, 112, 0.1);
  }

  .header-info > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
  }

  .header-info ul li:nth-child(1) {
    border-right: none;
  }

  .sportInfoMain {
    width: 100%;
    padding: 0 20px;
  }

  .main-info {
    padding: 0 20px;
  }
}

@media screen and (max-width: 482px) {
  .mainMain {
    /* overflow: hidden; */
    margin: 0;
    width: 100%;
    overflow: hidden;
  }

  .sportInfoMain {
    margin-left: -20px;
    width: 100%;
    display: contents;
  }

  .header-info ul li {
    gap: 10px;
  }
  .header-info ul li {
    margin-left: -120px;
    margin-right: -90px;
  }
  .header-info ul li a {
    margin-right: 250px;
    margin-left: 50px;
  }
  .header-info ul li a.active {
    margin-right: 5px;
  }
}

@media screen and (max-width: 390px) {
  .main-info {
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  .main-info {
    display: contents;
  }
}

@media screen and (max-width: 375px) {
  .sporting {
    overflow-x: hidden;
    /* width: 100%; */
    /* display: contents; */
    max-width: 100%;
    min-width: 100%;
  }

  .mainMain {
    /* width: 100%; */
  }

  .main-info {
    margin-right: 0;
  }
}
