.header-info {
  width: 100%;
  margin-bottom: 6px;
}
.mainMain {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 185px;
  gap: 10px;
}
.main {
  position: relative;
}
.banner {
  height: auto;
  background: #fff;
  margin-bottom: 10px;
}
.banner .banerMain {
  border-radius: 20px;
  width: 100%;
  object-position: center !important;
  display: table;
}
.banner .iconbaner {
  width: 50px;
  border-radius: 5px;
  height: 50px;
  padding: 3px;
}
.banner .leagueBannerMain {
  left: 10px;
  top: 10px;
  z-index: 0;
  height: 50px;
  position: absolute;
  background: #fff;
  border-radius: 5px;
  width: 50px;
}
.banner .leagueBanner {
  width: 50px;
  border-radius: 5px;
  height: 50px;
  padding: 3px;
  object-fit: contain;
}
.banner .matchIcon {
  top: 32%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  position: absolute;
}
.banner .matchIcon ul {
  display: flex;
  justify-content: center;
  width: 100%;
}
.banner .matchIcon ul li {
  width: 50%;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding: 0 15px;
  list-style: none;
}
.banner .matchIcon ul li img {
  width: 50px;
  height: 50px;
  border-radius: 0;
  margin: 0 auto;
  display: table;
  object-fit: contain;
}
.banner .matchIcon ul li span {
  padding: 0px;
  margin: 0px;
  outline: none;
  list-style: none;
}
.banner .matchIcon ul li p {
  align-items: center;
  margin-top: 10px;
}
.sportInfoMain {
  display: block;
  width: 100%;
  /* margin-top: 150px; */
}
.sportInfoMain span img {
  width: 25px;
  margin-right: 10px;
}
.header-info ul {
  margin-top: 20px;
  border-bottom: 0;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.header-info ul li:nth-child(1) {
  padding-right: 20px;
  border-right: 1px solid #707070;
}

.header-info ul li a {
  font-size: 16px;
  font-weight: bold;
  color: rgba(112, 112, 112, 0.5) !important;
  padding: 0;
  border: 0;
}

.header-info ul li a.active {
  position: relative;
  color: #2c2e35 !important;
}

.header-info ul li a.active::before {
  content: " ";
  height: 2px;
  position: absolute;
  left: 0;
  border-radius: 65px;
  width: 100%;
  bottom: -2px;

  background: linear-gradient(#27aae1, #1c75bc) !important;
}

.header-info ul li:nth-child(2) {
  padding-left: 20px;
}

.main-info {
  min-height: 470px;
}

.main-info .card-info {
  width: 100%;
}

.main-info .card-info .card-header {
  background: #155aa9;
  padding: 0 10px;
  line-height: 35px;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  vertical-align: bottom;
}

.main-info .card-info .card-header .match-headername {
  width: calc(100% - 252px);
  display: flex;
  align-items: center;
  float: left;
}

.main-info .card-info .card-header .match-headername p:nth-child(1) {
  margin: 0;
  padding: 0;
}

.main-info .card-info .card-header .match-headername p img {
  width: 16px;
  max-width: 16px;
  max-height: 16px;
  min-height: 16px;
  height: 16px;
  min-width: 16px;
  object-fit: contain;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}
.main-info .card-info .card-header .match-headername p:nth-child(2) {
  padding-left: 11px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.match-type {
  float: right;
  min-width: 252px;
  max-width: 252px;
}

.match-type ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.match-type ul li {
  width: 80px;
  text-align: center;
  margin-left: 50px;
}

.card-content {
  min-height: 100%;
  background: #fff;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  padding: 0px 30px 25px 38px;
}

.card-content .data-list {
  display: inline-block;
  width: 100%;
  padding-bottom: 16px;
  padding-top: 16px;
  border-bottom: 1px solid rgba(112, 112, 112, 0.1);
}

.card-content .data-list:last-child {
  border-bottom: none;
}

.card-content .data-list .league-matchTeam {
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
}

.card-content .data-list .league-matchTeam .league-matchName {
  width: calc(100% - 252px);
  margin-top: 5px;
  float: left;
}

.card-content .data-list .league-matchTeam .league-matchName p {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #000;
  font-size: 14px;
  cursor: pointer;
  text-transform: capitalize;
  margin: 0;
  padding: 5px 0;
}

.card-content .data-list .league-matchTeam .league-matchName p:last-child {
  font-size: 14px;
  font-weight: normal;

  margin-top: 14px;
  color: #707070;
}

.card-content .data-list .league-matchTeam .league-matchBlock {
  float: right;
}

.card-content .data-list .league-matchTeam .league-matchBlock ul {
  display: flex;
  height: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
  /* min-width: 252px; */
  /* gap: 30px; */
  max-width: 252px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.card-content .data-list .league-matchTeam .league-matchBlock ul li {
  text-align: center;
  /* width: 80px; */
  min-width: 60px;
  background-color: transparent;
  margin-left: 25px;
  margin-right: 10px;
}

.card-content .data-list .league-matchTeam .league-matchBlock ul li button {
  background-color: #ffc373;
  width: 100%;
  border: none;
  min-height: 50px;
  max-height: 50px;
  cursor: pointer;
  padding: 15px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2.5px;
  color: #000;
  font-weight: bold;
  font-size: 14px;
}

.card-content
  .data-list
  .league-matchTeam
  .league-matchBlock
  ul
  li
  button.active {
  background-color: #ff9515;
}

.card-content
  .data-list
  .league-matchTeam
  .league-matchBlock
  ul:nth-child(2)
  li
  p {
  background-color: #fac9d1;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;
}
.table thead th {
  vertical-align: unset;
}
.trMain {
  position: relative;
  top: 10px;
}
.backlaydata {
  justify-content: flex-end;
  display: flex;
  width: 100%;
}
.backlaydata .leftdata p {
  margin-left: -80px;
}
.leftdata {
  width: 66px;
  text-align: center;
}

.trMain th {
  font-size: 11px;
}
.refreshbtn {
  /* text-align: right; */
  position: relative;
  margin-right: -50px;
  top: -5px;
}
button.refreshbtn {
  background-color: #f8c237;
  border-radius: 4px;
  padding: 5px 15px;
  border: none;
  color: #000;
  font-weight: bold;
  font-size: 10px;
}
.tb {
  margin-top: 40px;
}
.matchName {
  display: flex;
  align-items: center;
}
.ccordiontoggleodd {
  background-color: #f5f5f5;
  margin-top: 10px;
}
.table tr {
  border-radius: 15px;
}
.leftbox {
  float: left;
  min-height: 66px;
  min-width: 66px;
  /* width: 47%; */
  /* border: 0.5px solid #b2b2b2; */
  margin: 0 2px;
  cursor: pointer;
}
.leftbox p {
  padding: 10px 2px;
  color: #000;
  font-size: 14px;
  height: 100%;
  line-height: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.bluebox {
  background-color: #ffc373ff;
  min-height: 66px;
  min-width: 66px;
  margin: 10px;
  margin-right: 40px;
  float: right;
}
.bluebox span {
  margin-top: 15px;
  font-weight: bold;
}

.matchiconname {
  padding-left: 10px;
}

tr.accordion-toggle td.league-img-td-width .match-icon-name p {
  align-items: center;
  margin-right: 10px;
}
.othermarketsection p {
  background-color: #ebebeb;
  padding: 10px 0.75rem;
  border-radius: 6px;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navTitle {
  padding: 1.5rem 0.5rem;
  display: flex;
  width: 100%;
  align-items: baseline;
  margin-top: -40px;
}
.navTitle .navTitleSub {
  flex-grow: 1;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
  border-bottom: 2px solid #f0f0f0;
}
.nav li {
  text-align: center;
  padding-right: 3vw;
}
.nav .navItem {
  line-height: 40px;
  margin-bottom: -1px;
}
.navItem .navLink {
  color: #d9d9d9;
  font-size: 15px;
  font-weight: bold;
  /* padding: 0; */
}
.navItem .navLink:hover {
  color: #495057;
}
.navLink.active {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}
.navTitle ul li a.active {
  border: 0;
  border-bottom: 4px solid #f8c237 !important;
  /* color: #707070;
    font-size: 18px; */
  width: 100%;
  padding-left: 7px;
  padding-right: 7px;
  font-weight: bold;
}

.tabContent > .active {
  display: block;
}
.tabPane {
  color: #f4f4f4;
}
.fade {
  transition: opacity 0.15s linear;
}
.marketOdd {
  display: flex;
  flex-wrap: wrap;
}

.marketOdd .marketOddData:nth-child(1) {
  margin-left: 0;
}
.marketOdd .marketOddData {
  width: calc(100% / 2 - 10px);
  margin: 0 2px;
  color: #000;
  border-radius: 5px;

  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-bottom: 10px;
  display: inline;
}
.marketNameHeading {
  font-size: 12px;
  background-color: #ebebeb;
  padding: 15px 0.75rem;
  border-radius: 6px;
  margin-bottom: 5px;
}
.title {
  display: flex;
  justify-content: space-between;
}
.marketNameHeading span:last-child {
  color: #000;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.marketNameHeading .marketDataCard {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: inline-block;
  width: 100%;
}
.marketDataCard .marketDataHeading {
  display: inline-block;
  width: 100%;
}
.marketDataHeading ul {
  display: inline-block;
  width: 100%;
  padding: 0 10px;
}
.marketDataHeading li {
  min-height: inherit !important;
  font-weight: 600;
  color: #707070;
  list-style: none;
  float: right;
  width: 66px;
  text-align: center;
  margin: 0 2px;
}
.marketNameHeading span:first-child {
  font-weight: 600;
}

.mainMarketData ul {
  display: flex;
  margin: 0 0 10px 0;
  width: 100%;
  justify-content: space-between;
  background: #f5f5f5;
  padding: 5px 10px;
  border-radius: 5px;
  list-style: none;
}

.mainMarketData .blueBox {
  line-height: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  background-color: #ffc373;
}
.mainMarketData ul li {
  float: left;
  width: 66px;
  text-align: center;
  flex-direction: column;
  display: flex;
  margin: 0 2px;
  justify-content: center;
  min-height: 66px;
}
.viewMarket a {
  color: #707070;
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
  display: inline-block;
  float: right;
}
@media screen and (max-width: 991px) {
  .sportInfoMain {
    display: contents;
    width: 900px;
  }
  .header-info {
    width: 100%;
    padding: 0 20px;
    border-bottom: 1px solid rgba(112, 112, 112, 0.1);
  }

  .header-info > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
  }

  .header-info ul li:nth-child(1) {
    border-right: none;
  }
  /* .header-info ul li a {
        margin: 0 110px;
      } */

  .sportInfoMain {
    width: 100%;
    padding: 0 20px;
  }

  .main-info {
    padding: 0 20px;
  }
}

/* Iphone 12pro max */
@media screen and (max-width: 428px) {
  .sportInfoMain {
    margin-left: -20px;
    width: 100%;
    display: contents;
  }
  .card-info {
    margin-left: 5px;
  }
  .header-info ul li {
    gap: 10px;
  }
  .header-info ul li {
    margin-left: -120px;
    margin-right: -90px;
  }
  .header-info ul li a {
    margin-right: 250px;
    margin-left: 50px;
  }
  .header-info ul li a.active {
    margin-right: 5px;
  }
}

/* Iphone 12 pro */
@media screen and (max-width: 390px) {
  .main-info {
    margin-left: -10px;
    margin-right: 35px;
  }
  .card-content
    .data-list
    .league-matchTeam
    .league-matchName
    ul
    li:nth-child(1)
    div
    p:nth-child(1)
    span {
    display: none;
  }
  .league-matchBlock {
    margin-right: -25px;
  }
  .header-info ul li a.active {
    margin-right: 50px;
  }

  /* .card-content .data-list .league-matchTeam .league-matchBlock ul li {
      } */
}

@media screen and (max-width: 320px) {
  .main-info {
    display: contents;
  }
  .card-info {
    margin-left: 0;
  }
}

@media screen and (max-width: 375px) {
  .main-info {
    margin-left: -20px;
    margin-right: 0;
  }
  .main-info {
  }
  .sportInfoMain {
  }
}

main {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 25px;
}

.sporting {
  overflow-x: hidden;
  /* display: contents; */
  /* overflow: hidden; */
}

.mainMain {
  position: relative;
  margin-top: 180px;
}

@media screen and (max-width: 991px) {
  .mainMain {
    position: relative;
    display: block;
  }
}

@media screen and (max-width: 482px) {
  .mainMain {
    /* overflow: hidden; */
    margin: 0;
    width: 420px;
    overflow: hidden;
  }
}
