.main-header {
  font-weight: 600;
  font-size: 23px;
  line-height: 35px;
  color: #2c2e35;
  padding-bottom: 20px;
}

.panel {
  width: 100%;
}

.panel h2 {
  background-color: #2a4173;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
  padding: 0 10px;
  line-height: 35px;
  margin-bottom: 0;
}

.panel-info ul {
  border-bottom: 0px solid rgba(112, 112, 112, 0.1);
  background: #f5f5f5;
  border-radius: 0 0 5px 5px;
  display: flex;
  width: 100%;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

.popular {
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid rgba(112, 112, 112, 0.1);
  margin-bottom: 10px;
  display: none;
}

.popular div {
  margin-top: -10px;
}
.popular div p {
  margin-bottom: 0;
  color: black;
  font-weight: bold;
}

.active p {
  color: #000;
}

.active {
  position: relative;
}

.active::before {
  display: block;
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  bottom: 0;
  background: linear-gradient(#27aae1, #1c75bc);
}

@media screen and (max-width: 991px) {
  .main-header {
    display: none;
  }
  .mainSection {
    width: 100%;
    margin-top: 240px;
  }
  .panel {
    /* display: block; */
    width: 100%;
    margin-top: -220px;
    padding: 0 20px;
  }
  .panel-info {
    width: 100%;
  }
  .popular {
    display: flex;
  }
}

/* Iphone 12pro MAX */
@media screen and (max-width: 428px) {
  .panel {
    margin-left: 5px;
    padding-right: 20px;
    /* margin-top: -150px; */
  }
}

/* Iphone 12 pro */
/* @media screen and (max-width: 390px) {
  .mainSection {
    margin-left: -20px;
  }
} */

@media screen and (max-width: 375px) {
  .mainSection {
    margin-left: -3px;
  }
}

@media screen and (max-width: 320px) {
  .panel {
    margin-left: 0;
  }
}
