.competition-item {
  display: flex;
  width: 50%;
  padding: 0 10px;
  line-height: 43px;
  align-items: center;
  float: left;
  border-bottom: 1px solid rgba(112, 112, 112, 0.1);
  min-height: 45px;
}

.competition-item:nth-child(odd) {
  border-right: 1px solid rgba(112, 112, 112, 0.1);
}

.competition-item a {
  color: #000;
  font-size: 14px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  text-decoration: none;
}

.competition-item a span:nth-child(1) {
  width: calc(100% - 15px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.competition-item a span:nth-child(1) img {
  width: 15px;
  margin-right: 10px;
}

.competition-item a span:nth-child(2) {
  float: right;
  position: relative;
  top: 1px;
  right: -10px;
}

.competition-item a span:nth-child(2) svg {
  width: 8px;
  color: #707070;
  margin-left: -20px;
}
