.odd-item {
  text-align: center;
  width: 80px;
  min-width: 80px;
  background-color: transparent;
}

.odd-item Button {
  background-color: #ffc373;
  width: 100%;
  border: none;
  min-height: 50px;
  max-height: 50px;
  cursor: pointer;
  padding: 15px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2.5px;
  color: #000;
  font-weight: bold;
  font-size: 14px;
}
Button.active {
  background-color: red !important;
}

@media screen and (max-width: 460px) {
  .odd-item {
    text-align: center;
    width: 58px;
    min-width: 50px;
    background-color: transparent;
  }
}

@media screen and (max-width: 320px) {
  .odd-item Button {
    max-width: 40px;
    min-width: 40px;
    max-height: 40px;
    margin-left: 10px;
    min-height: 40px;
  }
}
