.data-list {
  display: inline-block;
  width: 100%;
  padding-bottom: 16px;
  padding-top: 16px;
  border-bottom: 1px solid rgba(112, 112, 112, 0.1);
}

.data-list:last-child {
  border-bottom: none;
}

.data-list .league-matchTeam {
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
}

.data-list .league-matchTeam .league-matchName {
  width: calc(100% - 300px);
  margin-top: -10px;
  float: left;
}

.data-list .league-matchTeam .league-matchName p {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  /* overflow: hidden; */
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  text-transform: capitalize;
  margin: 0;
  /* padding: 5px 0; */
  font-size: 14px;
  font-weight: normal;
  color: #707070;
}

.data-list .league-matchTeam .league-matchBlock {
  float: right;
  /* margin-right: 10px; */
}
.league-matchName img {
  width: 25px;
  height: 100%;
}
.leagueMatch {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px 0;
}
.league-matchName p {
  /* font-weight: 800 !important; */
  color: #000 !important;
}

@media screen and (max-width: 490px) {
  .data-list .league-matchTeam .league-matchName p {
    font-size: 10px;
    margin-top: 0;
  }
  .leagueMatch {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 0;
  }
}

@media screen and (max-width: 390px) {
  .league-matchTeam .league-matchBlock {
    /* margin-right: 20px; */
    width: calc(100% - 142px);
  }
}

@media screen and (max-width: 375px) {
  .data-list .league-matchTeam .league-matchName {
    width: calc(100% - 242px);
  }
}

@media screen and (max-width: 320px) {
  .league-matchBlock {
    margin-right: 10px;
  }
  .leagueMatch {
    align-items: center;
  }
  .leagueMatch img {
    width: 20px;
    height: 100%;
    padding-top: 10px;
  }
  .leagueMatch p {
    font-size: 10px !important;
  }
}
