.modal-content {
  width: 100%;
}
.mainModal {
  border-radius: 20px;
}

.modal-content p {
  text-align: center;
  font-size: 20px;
  font-weight: 800;
}
.modal-content > button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: none;
  height: 53px;
  align-items: center;
  border-radius: 20px;
  padding: 1em;
}
.modal-content button {
  border-radius: 20px;
}

.modal-content > button img {
  height: 21px;
  width: 94px;
}

.modal-content div {
  padding: 1em;
}
.gridMain {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.flexMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.flexMain span {
  font-weight: 700;
}
.gridMain img {
  align-self: center;
  fill: rgb(40, 13, 95);
  flex-shrink: 0;
  margin-bottom: 8px;
  height: 30px;
}

.connectWrapper {
  position: relative;
}

.connectWrapper button {
  display: flex;
  width: 300px;
  height: 94px;
  background: linear-gradient(#27aae1, #1c75bc);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  padding: 18.5px 67.5px;
  cursor: pointer;
  border: none;
  text-align: left;
  align-items: center;
  justify-content: center;
}

.connectWrapper button p {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0;
}

.connectWrapper button p span {
  font-weight: 800;
  width: 50px;
}

.connectWrapper button img {
  margin-right: 10px;
}

@media screen and (max-width: 991px) {
  .connectWrapper button {
    width: 100%;
  }
}
