.marketOddData {
  width: calc(100% / 2 - 10px);
  margin: 0 2px;
  color: #000;
  border-radius: 5px;

  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-bottom: 10px;
  display: inline;
}

.marketOddData:nth-child(1) {
  margin-left: 0;
}

.marketNameHeading {
  font-size: 12px;
  background-color: #ebebeb;
  padding: 15px 0.75rem;
  border-radius: 6px;
  margin-bottom: 5px;
}

.marketNameHeading span:last-child {
  color: #000;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.marketNameHeading .marketDataCard {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: inline-block;
  width: 100%;
}

.title {
  display: flex;
  justify-content: space-between;
}

.marketDataHeading {
  display: inline-block;
  width: 100%;
}
.marketDataHeading ul {
  display: inline-block;
  width: 100%;
  padding: 0 10px;
}
.marketDataHeading li {
  min-height: inherit !important;
  font-weight: 600;
  color: #707070;
  list-style: none;
  float: right;
  width: 66px;
  text-align: center;
  margin: 0 2px;
}
.marketNameHeading span:first-child {
  font-weight: 600;
}

.mainMarketData ul {
  display: flex;
  margin: 0 0 10px 0;
  width: 100%;
  justify-content: space-between;
  background: #f5f5f5;
  padding: 5px 10px;
  border-radius: 5px;
  list-style: none;
}

.mainMarketData .blueBox {
  line-height: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  background-color: #ffc373;
}
.mainMarketData ul li {
  float: left;
  width: 66px;
  text-align: center;
  flex-direction: column;
  display: flex;
  margin: 0 2px;
  justify-content: center;
  min-height: 66px;
}
.viewMarket a {
  color: #707070;
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
  display: inline-block;
  float: right;
}

@media screen and (max-width: 460px) {
  .marketOddData {
    width: 100%;
  }
}
