.footer {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  width: 100%;
  text-align: left;
}

@media screen and (max-width: 978px) {
  .footer {
    padding: 0;
    margin: 0 0 55px;
    display: inline-block;
  }
}

/* Galaxy S9+ */
@media screen and (max-width: 320px) {
  .footer {
    display: contents;
    width: 132%;
  }
}

@media screen and (max-width: 375px) {
  .footer {
    /* display: block; */
    /* width: 420px; */
    max-width: 375px;
    min-width: 375px;
    display: block;
  }
}
