.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 10px;
  /* width: fit-content; */
  background-color: white;
  /* position: fixed; */
}
.google span a img {
  /* display: none; */
  width: 22px;
}
.google {
  position: absolute;
  right: 16px !important;
}

.header img {
  width: 146px;
  height: 2.5rem;
  margin-left: 50px;
  object-fit: contain;
}

.header-right {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header-right span {
  font-size: 1rem;
  margin-right: 10px;
}

@media screen and (max-width: 991px) {
  .header {
    padding: 15px 20px;
  }
  .header img {
    margin-left: 1px;
  }

  .header-right {
    margin-right: 20px;
  }
  .header img {
    width: 100px;
  }
}

/* Iphone 12 pro max */
@media screen and (max-width: 428px) {
  .header {
    /* width: 100%; */
    /* width: fit-content; */
  }
  .header img {
    width: 80px;
    margin-right: 100px;
  }
  .header-right {
    margin-left: 40px;
  }
}

@media screen and (max-width: 390px) {
  .header img {
    width: 100px;
    /* margin-left: 15px; */
  }
  .header-right {
    margin-left: -40px;
    gap: 2px;
  }
  .header-right span {
    margin-right: 0;
  }
}
@media screen and (max-width: 320px) {
  .header {
    width: 500px;
  }
}

@media screen and (max-width: 280px) {
  .header {
  }
  .header img {
    width: 60px;
  }
  .header-right {
    margin-right: 70px;
    margin-left: -80px;
  }
  .header-right span {
    padding-left: 20px;
  }
}

@media screen and (max-width: 375px) {
  .header {
    margin-left: 1px;
    width: 100%;
  }
}
