.odd-item {
  text-align: center;
  width: 80px;
  min-width: 80px;
  background-color: transparent;
}

.odd-item button {
  background-color: #ffc373;
  width: 100%;
  border: none;
  min-height: 50px;
  max-height: 50px;
  cursor: pointer;
  padding: 15px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2.5px;
  color: #000;
  font-weight: bold;
  font-size: 14px;
}
button.active {
  background-color: red !important;
}
