.countryName {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid rgba(112, 112, 112, 0.1);
}
.countryName a span {
  width: 100%;
  white-space: nowrap;
}
