main {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 25px;
}

.sporting {
  overflow-x: hidden;
  /* display: contents; */
  /* overflow: hidden; */
}

.mainMain {
  position: relative;
  margin-top: 180px;
}

@media screen and (max-width: 991px) {
  .mainMain {
    position: relative;
    display: block;
  }
}

@media screen and (max-width: 482px) {
  .mainMain {
    /* overflow: hidden; */
    margin: 0;
    /* max-width: 420px;
    min-width: 420px; */
    overflow: hidden;
  }
}
