.sportPiece {
  max-width: 62px;
  min-width: 62px;
  height: calc(100vh - 230px);
  position: sticky;
  cursor: default;

  top: 130px;
  overflow-y: auto;
  /* margin-top: 190px; */
  scrollbar-color: #8f54a0 #d93a3a;
}

.sportPiece::-webkit-scrollbar {
  width: 8px;
}

.sportPiece::-webkit-scrollbar-thumb {
  background-color: #959296;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

.sportPiece ul {
  list-style: none;
  cursor: default;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
}

.sportPiece ul li {
  text-align: center;
  padding: 0;
  cursor: default;

  margin-bottom: 30px;
  width: 100%;
}

.sportPiece ul li button {
  border-color: transparent;
  color: #fff;
  cursor: default;

  background-color: currentColor;
}

.sportPiece ul li button img {
  width: 25px;
  cursor: default;

  height: 26px;
}

.active {
  background: #f5f5f5;
  height: 54px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active + button {
  background-color: #f5f5f5;
}

.active::after {
  position: absolute;
  content: " ";
  height: 100%;
  width: 6px;
  left: 0px;
  top: 0;
  background: linear-gradient(#27aae1, #1c75bc);
}

/* .marginHeader {
  margin-top: 250px !important;
} */

@media screen and (max-width: 991px) {
  .sportPiece {
    position: relative;
    display: contents;
    padding: 20px 20px;
    overflow-x: auto;
    padding-top: 10px;
    margin-right: 20px;
    margin-top: -180px !important;
    overflow-x: hidden;
    /* flex-direction: row-reverse; */
  }
  
  .marginHeader {
    margin-top: 250px !important;
  }

  .sportPiece ul {
    flex-direction: row;
    flex-wrap: nowrap;
    /* position: fixed; */
    margin-top: -10px;
    margin: 140px 0;
    margin-bottom: 0;

    justify-content: space-between;
  }
  .sportPiece ul li {
    /* text-align: center; */
    /* margin-right: 15px; */
    width: 50px;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-wrap: nowrap; */
  }
  .sportPiece li a {
    background: #fff;
    margin: 0;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 12px #eee;
  }
}

@media screen and (max-width: 991px) {
  .sportPiece li.active button a {
    background: linear-gradient(#27aae1, #1c75bc);
  }
  .sportPiece ul {
    overflow-x: auto;
    margin-top: 180px;
  }

  .pieceList {
    /* margin-top: 260px !important; */
  }

  .sportPiece ul li {
    background: transparent;
  }
  .sportPiece li button a {
    background: #fff;
  }
  .sportPiece .active::after {
    content: "";
    display: none;
  }
  .sportName {
    color: rgba(112, 112, 112, 0.5);
    font-size: 10px;
    margin-top: 6px;
  }
}

/* Iphone 12pro max */
@media screen and (max-width: 428px) {
  .sportPiece ul {
    overflow-x: auto;
  }
}
@media screen and (max-width: 320px) {
  .sportPiece {
    display: contents;
    position: relative;
  }
}
