.card-info {
  width: 100%;
}
/* .match-headername img:empty {
  display: none;
} */

.card-header {
  background: #2a4173;
  padding: 0 10px;
  line-height: 35px;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  /* padding-right: 30px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  vertical-align: bottom;
}

.match-headername {
  width: calc(100% - 252px);
  display: flex;
  align-items: center;
  float: left;
}

.match-headername p:nth-child(1) {
  margin: 0;
  padding: 0;
}

.match-headername p img {
  width: 16px;
  max-width: 16px;
  max-height: 16px;
  min-height: 16px;
  height: 16px;
  min-width: 16px;
  object-fit: contain;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}

.match-headername p:nth-child(2) {
  padding-left: 11px;
  font-size: 10px;
  white-space: nowrap;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  margin: 0;
}

.match-type {
  float: right;
  min-width: 252px;
  max-width: 252px;
}

.match-type ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.match-type ul li {
  width: 80px;
  text-align: center;
}

.card-content {
  min-height: 100%;
  background: #f5f5f5;
  border-radius: 0 0 10px 10px;
  margin-bottom: 15px;
  padding: 0px 8px 8px 8px;
  /* padding: 0 5px; */
}

@media screen and (max-width: 991px) {
  .card-header {
    padding-right: 0;
  }
}

@media screen and (max-width: 428px) {
  .card-info {
    /* margin-left: 5px; */
  }
}
@media screen and (max-width: 375px) {
  .match-type {
    margin-right: -30px;
  }
  .match-type ul {
    padding: 0 20px;
  }
  .card-header {
    padding-right: 0px;
  }
}

@media screen and (max-width: 320px) {
  .card-info {
    margin-left: 5px;
    max-width: 300px;
    min-width: 300px;
  }
  .card-header {
    font-size: 10px;
  }
  .match-type ul {
    margin: 0 30px;
  }
  .match-type ul li:nth-child(1) {
    margin-left: 30px;
    margin-right: 20px;
  }
  .match-type ul li:nth-child(2) {
    margin-right: 10px;
  }
  .match-type ul li:nth-child(3) {
    margin-right: -20px;
  }
}
