.header-info {
  width: 100%;
  margin-bottom: 6px;
}

.header-info ul {
  margin-top: 20px;
  border-bottom: 0;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.header-info ul li:nth-child(1) {
  padding-right: 20px;
  border-right: 1px solid #707070;
}

.header-info ul li a {
  font-size: 16px;
  font-weight: bold;
  color: rgba(112, 112, 112, 0.5) !important;
  padding: 0;
  border: 0;
}

.navBtn.active {
  border-bottom: 3px solid #27aae1;
}

/* .header-info ul li a.active::before {
  content: " ";
  height: 2px;
  position: absolute;
  left: 0;
  border-radius: 65px;
  width: 100%;
  bottom: -2px;

  background: linear-gradient(#27aae1, #1c75bc) !important;
} */

/* .header-info ul li:nth-child(2) {
  padding-left: 20px;
} */

.main-info {
  /* min-height: 470px; */
}

.main-info .card-info {
  width: 100%;
}

.main-info .card-info .card-header {
  background: #155aa9;
  padding: 0 10px;
  line-height: 35px;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 14px;
  font-weight: bold;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  vertical-align: bottom;
}

.main-info .card-info .card-header .match-headername {
  width: calc(100% - 192px);
  display: flex;
  align-items: center;
  float: left;
}

.main-info .card-info .card-header .match-headername p:nth-child(1) {
  margin: 0;
  padding: 0;
}

.main-info .card-info .card-header .match-headername p img {
  width: 16px;
  max-width: 16px;
  max-height: 16px;
  min-height: 16px;
  height: 16px;
  min-width: 16px;
  object-fit: contain;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}
.main-info .card-info .card-header .match-headername p:nth-child(2) {
  padding-left: 11px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.match-type {
  float: right;
  min-width: 252px;
  max-width: 252px;
}

.match-type ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.match-type ul li {
  width: 80px;
  text-align: center;
}
.navBtn {
  border: none;
  background: transparent;
  font-weight: 600;
}
.header-info ul li button:last-child {
  margin-left: 10px;
  color: black;
  font-weight: bold;
}

.card-content {
  min-height: 100%;
  background: #f5f5f5;
  border-radius: 0 0 10px 10px;
  margin-bottom: 15px;
  padding: 0px 8px 25px 8px;
}

@media screen and (max-width: 991px) {
  .sportInfoMain {
    display: contents;
    width: 900px;
  }
  .header-info {
    width: 100%;
    padding: 0 20px;
    border-bottom: 1px solid rgba(112, 112, 112, 0.1);
  }

  .header-info > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-info ul li:nth-child(1) {
    border-right: none;
  }

  .sportInfoMain {
    width: 100%;
    padding: 0 20px;
  }

  .main-info {
    padding: 0 20px;
  }
  .navBtn.active {
    border-bottom: 3px solid #27aae1 !important;
  }
}
@media screen and (max-width: 460px) {
  .match-type {
    max-width: 180px;
    min-width: 180px;
  }
}

/* Iphone 12pro max */
@media screen and (max-width: 428px) {
  .sportInfoMain {
    margin-left: -20px;
    width: 100%;
    display: contents;
  }
  .card-info {
    margin-left: 5px;
  }
  .header-info ul li {
    gap: 10px;
  }
  .navBtn {
    border: none !important;
  }
  .header-info ul li .navBtn.active {
    margin-right: 5px;
  }
}

/* Iphone 12 pro */
@media screen and (max-width: 390px) {
  /* .main-info {
    margin-left: -10px;
    margin-right: 35px;
  } */
  .match-type {
    max-width: 180px;
    min-width: 180px;
  }

  .card-content
    .data-list
    .league-matchTeam
    .league-matchName
    ul
    li:nth-child(1)
    div
    p:nth-child(1)
    span {
    display: none;
  }
  .league-matchBlock {
    margin-right: -25px;
  }

  /* .card-content .data-list .league-matchTeam .league-matchBlock ul li {
  } */
}

@media screen and (max-width: 320px) {
  .main-info {
    display: contents;
  }
  .card-info {
    margin-left: 0;
  }
}

@media screen and (max-width: 375px) {
  .main-info {
    margin-left: 0;
    margin-right: 0;
  }
}
