.data-list {
  display: inline-block;
  width: 100%;
  padding-bottom: 16px;
  padding-top: 16px;
  border-bottom: 1px solid rgba(112, 112, 112, 0.1);
}

.data-list:last-child {
  border-bottom: none;
}

.data-list .league-matchTeam {
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
}

.data-list .league-matchTeam .league-matchName {
  margin-top: 5px;
  float: left;
}

.matchTeam {
  display: flex;
  align-items: center;
  gap: 5px;
}
.matchTeam img {
  width: 24px;
  height: 24px;
  margin-top: 10px;
}

.data-list .league-matchTeam .league-matchName p {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #000;
  font-size: 14px;
  cursor: pointer;
  text-transform: capitalize;
  margin: 0;
  padding: 5px 0;
}

.data-list .league-matchTeam .league-matchName p:last-child {
  font-size: 14px;
  font-weight: normal;

  margin-top: 14px;
  color: #707070;
}

.data-list .league-matchTeam .league-matchBlock {
  float: right;
}

@media screen and (max-width: 991px) {
  .matchTeam p {
    font-size: 10px;
  }
}

@media screen and (max-width: 460px) {
  .data-list .league-matchTeam .league-matchName p {
    font-size: 10px;
  }
  .data-list .league-matchTeam .league-matchName p:last-child {
    font-size: 12px;
    font-weight: normal;

    margin-top: 14px;
    color: #707070;
  }
}
