.odd-item {
  text-align: center;
  width: 80px;
  min-width: 80px;
  background-color: transparent;
}

.odd-item button {
  background-color: #ffc373;
  width: 100%;
  border: none;
  min-height: 50px;
  max-height: 50px;
  cursor: pointer;
  padding: 15px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2.5px;
  color: #000;
  font-weight: bold;
  font-size: 14px;
}

.odd-item button.active {
  background-color: #ff9515 !important;
}
@media screen and (max-width: 390px) {
  .odd-item {
    max-width: 60px;
    min-width: 60px;
  }
  .odd-item li:nth-child(1) {
  }
}
