.odds-list {
  display: flex;
  height: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-width: 252px;
  gap: 5px;
  max-width: 252px;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media screen and (max-width: 991px) {
  .odds-list {
    min-width: 0;
  }
}
