main {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 25px;
}
/* .header-main img:empty {
  display: none;
} */
.sporting {
  /* overflow-x: hidden; */
  /* display: contents; */
  /* overflow: hidden; */
}

.mainMain {
  position: relative;
  margin-top: 180px;
}

.header-main {
  display: flex;
}

.header-main img {
  width: 22px;
  height: 22px;
}

.header-main h1 {
  font-size: 16px;
  color: #707070;
  margin-left: 8px;
}

.header-info {
  width: 100%;
  margin-bottom: 6px;
}

.header-info ul {
  margin-top: 20px;
  border-bottom: 0;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.header-info ul li:nth-child(1) {
  padding-right: 20px;
  border-right: 1px solid #707070;
}

.header-info ul li a {
  font-size: 16px;
  font-weight: bold;
  color: rgba(112, 112, 112, 0.5) !important;
  padding: 0;
  border: 0;
}

.header-info ul li .navBtn.active {
  position: relative;
  color: #2c2e35 !important;
}

.header-info ul li .navBtn.active::before {
  content: " ";
  height: 2px;
  position: absolute;
  left: 0;
  border-radius: 65px;
  width: 100%;
  bottom: -2px;

  background: linear-gradient(#27aae1, #1c75bc) !important;
}

.header-info ul li:nth-child(2) {
  padding-left: 20px;
}

.main-info {
  min-height: 470px;
}

.navBtn {
  border: none;
  background: transparent;
  font-weight: 600;
}
  .navBtn.active {
    border-bottom: 3px solid #27aae1 !important;
  }
@media screen and (max-width: 991px) {
  .header-main {
    margin: 0 20px;
  }

  .mainMain {
    position: relative;
    display: block;
  }
  .sportInfoMain {
    display: contents;
    width: 900px;
  }
  .header-info {
    width: 100%;
    padding: 0 20px;
    border-bottom: 1px solid rgba(112, 112, 112, 0.1);
  }

  .header-info > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
  }

  .header-info ul li:nth-child(1) {
    border-right: none;
  }

  .sportInfoMain {
    width: 100%;
    padding: 0 20px;
  }

  .main-info {
    padding: 0 20px;
  }
}

@media screen and (max-width: 482px) {
  .mainMain {
    /* overflow: hidden; */
    margin: 0;
    /* width: 100%; */
    max-width: 420px;
    min-width: 420px;
    overflow: hidden;
  }
.header-info ul li:nth-child(2) {
  padding-left: 0px;
}

  .sportInfoMain {
    margin-left: -20px;
    width: 100%;
    display: contents;
  }

  .header-info ul li {
    gap: 10px;
  }
  .header-info ul li {
    margin-left: -120px;
    /* margin-right: -90px; */
  }
  .header-info ul li .navBtn {
    /* margin-right: 250px; */
    margin-left: 50px;
  }
  .header-info ul li .navBtn.active {
    margin-right: 5px;
  }
}

@media screen and (max-width: 390px) {
  .main-info {
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  .main-info {
    display: contents;
  }
  .header-info {
    max-width: 320px;
    min-width: 320px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 375px) {
  .sporting {
    overflow-x: hidden;
    width: 100%;
    display: contents;
  }

  .mainMain {
    max-width: 370px;
    min-width: 370px;
    overflow-x: hidden;
    padding: 0 10px;
  }

  .main-info {
    margin-right: 0;
  }
}
