.modal {
  bottom: 0px;
  transform: translateY(-54px);
  display: none;
}

@media screen and (max-width: 991px) {
  .modal {
    position: fixed;
    display: block;
    width: 100%;
    /* bottom: 0; */
    transition: all 0.3s ease-out;
    background-color: #f5f5f5;
  }
  .subModal {
    display: inline-block;
    width: 100%;
    z-index: 999;
    position: relative;
  }
  .header {
    background-color: #f8c237;
    display: inline-block;
    width: 100%;
    transition: all 0.3s ease-in;
  }
  .header p {
    padding: 0 15px;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
  }
  .header span {
    padding-top: 10px;
  }

  .header .arrow {
    width: 15px;
    padding-top: 10px;
  }
  .backBet {
    display: flex;
  }
  .backBet ul {
    list-style: none;
    padding: 0 15px;
    margin: 0;
    display: flex;
    color: #000;
    font-size: 10px;
    font-weight: bold;
    width: 100%;
    text-align: left !important;
  }
  .backBet li:nth-child(1) {
    width: calc(100% - 166px);
    color: #000;
    margin-right: 10px;
  }
  .backBet li:nth-child(2) {
    width: 40px;
    text-align: center;
  }
  .backBet li:nth-child(3) {
    margin-left: 36px;
    width: 60px;
    text-align: center;
  }
  .PAS {
    background-color: #f5f5f5;
  }
  .PAS ul {
    display: flex;
    list-style: none;
    padding: 10px 15px 6px 15px;
    border-bottom: 1px solid rgba(112, 112, 112, 0.5);
    margin: 0px;
    align-items: center;
  }
  .PAS ul li:nth-child(1) {
    width: calc(100% - 166px);
    margin-right: 10px;
  }
  .PAS .teamTitle {
    color: #000000;
    font-size: 12px;
    font-weight: bolder;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 16px;
  }
  .PAS .teamName {
    color: #000;
    font-size: 8px;
    line-height: 10px;
  }
  .PAS ul li p:nth-child(3) {
    color: #707070;
    font-size: 12px;
  }
  .PAS ul li:nth-child(2) {
    display: flex;
    width: 40px;
    align-self: baseline !important;
    justify-content: center !important;
  }
  .PAS li p input {
    width: 60px;
    border: 0;
    border-radius: 3px;
    height: 30px;
    font-weight: 600;
    text-align: center;
    font-size: 12px;
    /* -webkit-appearance: none; */
    /* -moz-appearance: none; */
    appearance: none;
    margin: 0;
    color: black;
  }
  .PAS ul li:nth-child(3) {
    position: relative;
    margin-bottom: 13px;
    margin-left: 36px;
    text-align: center;
  }
  .PAS .payout {
    display: flex;
  }
  .PAS .payout input {
    color: black;
    width: 60px;
  }
  .PAS .trashCan {
    color: #707070;
    font-size: 6px;
  }
  .PAS .trashCan img {
    width: 10px;
    margin-top: 6px;
    margin-left: 10px;
  }
  .PAS .text {
    font-size: 10px;
    margin-top: -10px;
  }
  .btnSection {
    display: flex;
    justify-content: space-between;
    padding: 12px 15px;
    align-items: center;
    background-color: #fff;
  }
  .profit {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-right: 10px;
    flex-direction: column;
  }
  .left {
    margin-top: -2px;
    text-align: left;
    line-height: 10px;
    display: flex;
  }
  .liabilityText {
    font-size: 10px;
    font-weight: bold;
    align-items: center;
    padding: 0;
    width: 60px;
    display: inline-block;
    color: #000000;
  }
  .liabilityAmount {
    color: #f11c24;
    padding-left: 2px;
    font-weight: bold;
    font-size: 10px;
  }
  .profitAmount {
    color: #34c759;
  }
  .placeBet {
    padding: 0;
    min-width: 145px;
  }
  .placeBet button {
    margin: 0px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 2px;
    color: #fff;
    min-height: 31px;
    max-height: 31px;
    padding: 0 10px;
    background-color: #34c759;
    min-width: 84px;
    width: 100%;
    border: none;
  }
}
