.header-info {
  width: 100%;
  margin-bottom: 6px;
}
.mainMain {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 185px;
  gap: 10px;
}
.sportInfoMain {
  display: block;
  width: 100%;
}
.header-info ul {
  margin-top: 20px;
  border-bottom: 0;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.header-info ul li:nth-child(1) {
  padding-right: 20px;
  border-right: 1px solid #707070;
}

.header-info ul li a {
  font-size: 16px;
  font-weight: bold;
  color: rgba(112, 112, 112, 0.5) !important;
  padding: 0;
  border: 0;
}

.header-info ul li a.active {
  position: relative;
  color: #2c2e35 !important;
}

.header-info ul li a.active::before {
  content: " ";
  height: 2px;
  position: absolute;
  left: 0;
  border-radius: 65px;
  width: 100%;
  bottom: -2px;

  background: linear-gradient(#27aae1, #1c75bc) !important;
}

.header-info ul li:nth-child(2) {
  padding-left: 20px;
}

.main-info {
  min-height: 470px;
}

.main-info .card-info {
  width: 100%;
}

.main-info .card-info .card-header {
  background: #155aa9;
  padding: 0 10px;
  line-height: 35px;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  vertical-align: bottom;
}

.main-info .card-info .card-header .match-headername {
  width: calc(100% - 252px);
  display: flex;
  align-items: center;
  float: left;
}

.main-info .card-info .card-header .match-headername p:nth-child(1) {
  margin: 0;
  padding: 0;
}

.main-info .card-info .card-header .match-headername p img {
  width: 16px;
  max-width: 16px;
  max-height: 16px;
  min-height: 16px;
  height: 16px;
  min-width: 16px;
  object-fit: contain;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}
.main-info .card-info .card-header .match-headername p:nth-child(2) {
  padding-left: 11px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.match-type {
  float: right;
  min-width: 252px;
  max-width: 252px;
}

.match-type ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.match-type ul li {
  width: 80px;
  text-align: center;
  margin-left: 50px;
}

.card-content {
  min-height: 100%;
  background: #f5f5f5;
  border-radius: 0 0 10px 10px;
  margin-bottom: 15px;
  padding: 0px 30px 25px 38px;
}

.card-content .data-list {
  display: inline-block;
  width: 100%;
  padding-bottom: 16px;
  padding-top: 16px;
  border-bottom: 1px solid rgba(112, 112, 112, 0.1);
}

.card-content .data-list:last-child {
  border-bottom: none;
}

.card-content .data-list .league-matchTeam {
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
}

.card-content .data-list .league-matchTeam .league-matchName {
  width: calc(100% - 252px);
  margin-top: 5px;
  float: left;
}

.card-content .data-list .league-matchTeam .league-matchName p {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #000;
  font-size: 14px;
  cursor: pointer;
  text-transform: capitalize;
  margin: 0;
  padding: 5px 0;
}

.card-content .data-list .league-matchTeam .league-matchName p:last-child {
  font-size: 14px;
  font-weight: normal;

  margin-top: 14px;
  color: #707070;
}

.card-content .data-list .league-matchTeam .league-matchBlock {
  float: right;
}

.card-content .data-list .league-matchTeam .league-matchBlock ul {
  display: flex;
  height: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
  /* min-width: 252px; */
  gap: 30px;
  max-width: 252px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.card-content .data-list .league-matchTeam .league-matchBlock ul li {
  text-align: center;
  width: 80px;
  min-width: 80px;
  background-color: transparent;
  margin-left: 15px;
}

.card-content .data-list .league-matchTeam .league-matchBlock ul li button {
  background-color: #ffc373;
  width: 100%;
  border: none;
  min-height: 50px;
  max-height: 50px;
  cursor: pointer;
  padding: 15px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2.5px;
  color: #000;
  font-weight: bold;
  font-size: 14px;
}

.card-content
  .data-list
  .league-matchTeam
  .league-matchBlock
  ul
  li
  button.active {
  background-color: #ff9515;
}

.card-content
  .data-list
  .league-matchTeam
  .league-matchBlock
  ul:nth-child(2)
  li
  p {
  background-color: #fac9d1;
}

@media screen and (max-width: 991px) {
  .sportInfoMain {
    display: contents;
    width: 900px;
  }
  .header-info {
    width: 100%;
    padding: 0 20px;
    border-bottom: 1px solid rgba(112, 112, 112, 0.1);
  }

  .header-info > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
  }

  .header-info ul li:nth-child(1) {
    border-right: none;
  }
  /* .header-info ul li a {
      margin: 0 110px;
    } */

  .sportInfoMain {
    width: 100%;
    padding: 0 20px;
  }

  .main-info {
    padding: 0 20px;
  }
}

/* Iphone 12pro max */
@media screen and (max-width: 428px) {
  .sportInfoMain {
    margin-left: -20px;
    width: 100%;
    display: contents;
  }
  .card-info {
    margin-left: 5px;
  }
  .header-info ul li {
    gap: 10px;
  }
  .header-info ul li {
    margin-left: -120px;
    margin-right: -90px;
  }
  .header-info ul li a {
    margin-right: 250px;
    margin-left: 50px;
  }
  .header-info ul li a.active {
    margin-right: 5px;
  }
}

/* Iphone 12 pro */
@media screen and (max-width: 390px) {
  .main-info {
    margin-left: -10px;
    margin-right: 35px;
  }
  .card-content
    .data-list
    .league-matchTeam
    .league-matchName
    ul
    li:nth-child(1)
    div
    p:nth-child(1)
    span {
    display: none;
  }
  .league-matchBlock {
    margin-right: -25px;
  }
  .header-info ul li a.active {
    margin-right: 50px;
  }

  /* .card-content .data-list .league-matchTeam .league-matchBlock ul li {
    } */
}

@media screen and (max-width: 320px) {
  .main-info {
    display: contents;
  }
  .card-info {
    margin-left: 0;
  }
}

@media screen and (max-width: 375px) {
  .main-info {
    margin-left: -20px;
    margin-right: 0;
  }
  .main-info {
  }
  .sportInfoMain {
  }
}
