.menuBarMain {
  display: none;
  padding-left: 10px;
  margin-top: 5px;
}
.menuBarMain .selection {
  width: 20px;
  -webkit-appearance: none;
  appearance: none;
}

.menuBarMain i {
  color: #2a4173;
  font-size: 18px;
}

@media screen and (max-width: 991px) {
  .menuBarMain {
    display: block;
    padding-left: 0;
  }
  .menuBarMain button {
    /* width: 20px !important; */
    /* height: 20px !important; */
    /* margin-top: 4px; */
  }
}
