.nav {
  display: flex;
  list-style: none;
  text-align: center;
  font-size: 1rem;
  padding-left: 20px;
  margin: 0;
}

/* .nav li a {
  
}

.nav li:first-child > a::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 3px;
  left: 0px;
  bottom: -5px;
  background: linear-gradient(#27aae1, #1c75bc);
} */

.nav li {
  display: inline;
  position: relative;
  padding: 0 20px;
}

.nav li a {
  font-size: 1.2rem;
  color: #707070;
}

.nav a.active {
  color: #1c75bc;
  font-weight: bolder;
}

.comming-soon::after {
  display: block;
  content: "Comming soon";
  position: absolute;
  top: -15%;
  right: 20px;
  border-radius: 4px;
  width: 50%;
  height: 10px;
  font-size: 6px;
  background-color: #000;
  color: white;
  font-weight: 700;
}

@media screen and (max-width: 991px) {
  .nav {
    display: none;
  }
}
