.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.main-left {
  width: 100%;
}

.main-left nav {
  height: 75px;
  background-color: #145aaa;
  height: 94px;
}

.main-left nav > div {
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: 60px;
  justify-content: flex-start;
}

.main-left nav > div .dropdown:nth-child(1) {
  position: relative;
  min-width: 72px;
  text-align: center;
  text-transform: capitalize;
  border-radius: 8px;
  border: 1px solid hsla(0, 0%, 77.9%, 2.35);
}

.main-left nav > div .dropdown:nth-child(1) > button {
  font-weight: 500;
  padding: 0 5px;
  background-color: transparent;
  color: #f5f5f5;
  font-size: 14px;
  height: 37px;
  width: 100%;
  border-color: transparent;
}

.main-left nav > div .dropdown:nth-child(1) button img:nth-child(1) {
  border-radius: 5px;
  object-fit: cover;
  width: 22px;
  height: 17px;
}

.main-left nav > div .dropdown:nth-child(1) > button > span {
  padding: 0 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  text-transform: capitalize;
}

.main-left nav > div .dropdown:nth-child(1) button img:nth-child(2) {
  width: 10px;
  height: 5px;
}

.main-left nav > div .dropdown:nth-child(3) {
  min-width: 72px;
  position: relative;
  text-align: center;
  text-transform: capitalize;
  border-radius: 8px;
  border: 1px solid hsla(0, 0%, 77.9%, 2.35);
  margin-left: 5px;
}

.main-left nav > div > .dropdown:nth-child(3) > button {
  font-weight: 500;
  padding: 0 10px;
  background-color: transparent;
  color: #f5f5f5;
  font-size: 14px;
  height: 37px;
  width: 100%;
  border-color: transparent;
  letter-spacing: 1px;
}

.main-left nav > div > .dropdown:nth-child(3) > button > span {
  padding: 0 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  text-transform: capitalize;
  color: #f5f5f5;
}

.main-left nav > div > a {
  display: block;
  text-decoration: none;
  padding: 8px 10px;
  color: #f5f5f5;
  margin-left: 25px;
  border: 1px solid;
  border-radius: 10px;
}

.submain {
  position: relative;
}

.submain button {
  /* width: 260px; */
  height: 80px;
  background: linear-gradient(#27aae1, #1c75bc);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  padding: 18.5px 67.5px;
  cursor: pointer;
  border: none;
  text-align: left;
  align-items: center;
}

.submain button p {
  left: 80px;
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  top: 20px;
}

.submain button p span {
  font-weight: 800;
}

.submain button img {
  position: absolute;
  top: 35px;
  margin-top: -8px;
  left: 35px;
}

/* .main-left nav > div .dropdown:nth-child(1) > .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  z-index: 0;
  cursor: pointer;
} */

.dropdown-menu {
  position: absolute;
  width: 100%;
  min-width: 100%;
  left: 0px !important;
  top: 37px !important;
  -webkit-transform: inherit !important;
  transform: inherit !important;
  background: #c5c2c2 !important;
  border-radius: 0 0 8px 8px !important;
  padding: 0;
  border: none;
}

.dropdown-menu > button {
  display: flex;
  font-weight: 500;
  padding: 5px 5px;
  background-color: transparent;
  color: #f5f5f5;
  font-size: 14px;
  height: 37px;
  width: 100%;
  border-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.dropdown-menu > button:last-child {
  border-bottom: none;
  border-radius: 0 0 8px 8px;
}

.dropdown-menu > button > img {
  margin-right: 10px;
  width: 22px;
  height: 17px;
}

.dropdown-menu button span {
  padding-left: 5px;
  color: rgb(49 49 68 / 60%);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.dropdown-menu > button:hover {
  width: 100%;
  background-color: #f8c237;
}

.dropdown-menu-link {
  position: absolute;
  width: 100%;
  min-width: 100%;
  left: 0 !important;
  top: 37px !important;
  -webkit-transform: inherit !important;
  transform: inherit !important;
  background: #eee !important;
  border-radius: 0 0 8px 8px !important;
  padding: 0;
  border: none;
}

.dropdown-menu-link > a {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #313144;
  padding: 0 24px;
}

.dropdown-menu-link > a:nth-child(2) {
  border-radius: 0 0 8px 8px !important;
}

.dropdown-menu-link > a:hover {
  width: 100%;
  background: #f8c237;
}

@media screen and (max-width: 991px) {
  .header-main {
    display: block;
    width: 100%;
  }
  .mainRight {
    position: relative;
    width: 100%;
    background: linear-gradient(#27aae1, #1c75bc);
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: padding 0.5s;
    /* padding: 30px; */
    margin-top: -10px;
    transition: 0.2s;
  }

  .main-left {
    display: none;
  }

  .mainRight .submain button {
    max-width: 1100px;
    min-width: 1100px;
    /* width: 100%; */
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
  }
}
