.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 18px;
  width: 70px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
  z-index: 10;
}

input:checked + .slider::after {
  position: absolute;
  content: "ON";
  top: 4px;
  left: 6px;
  font-weight: bold;
}

.slider::after {
  position: absolute;
  content: "OFF";
  top: 4px;
  right: 6px;
  font-weight: bold;
}

input:checked + .slider {
  background-color: #fac9d1;
}

input:checked + .slider::before {
  transform: translateX(35px);
  z-index: 10;
}
