.sub-header-right-section {
  display: flex !important;
  background: linear-gradient(#27aae1, #1c75bc);
  align-items: center !important;
  position: relative;
}

.account-section-without-scroll {
  display: none;
}

.account-section-with-scroll {
  display: none;
}

.user-balance-logout {
  display: flex !important;
  background: linear-gradient(#27aae1, #1c75bc);
  align-items: center !important;
}

.sub-header-balance {
  padding: 12.8px 13px;
}

.sub-header-balance > div {
  display: flex;
  line-height: 12px;
  justify-content: space-between;
  align-items: center;
}

.sub-header-balance-text {
  margin-bottom: 0;
}

.sub-header-balance-text .text {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #eee;
}

.sub-header-balance-text .address {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  color: #eee;
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 4px;
}

.meta-icon {
  margin-bottom: 3px;
}

.meta-icon > img {
  width: 28px;
  margin-left: 15px;
}

.user-balance {
  border-radius: 2.5px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: #000;
  display: flex;
  padding: 7px;
  background-color: #fff;
  margin-bottom: 5px;
}

.user-balance span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  display: flex;
  align-items: center;
  color: #000;
  margin-left: 5px;
}

.user-profile {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}

.user-profile button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  /* padding: 25px; */
}

.user-profile button img {
  padding: 0 20px 0 10px;
}

.user-profile button:nth-child(2) img {
  width: 55px;
  height: 30px;
}

.referral-sec {
  position: absolute;
  top: 100%;
}

.card {
  border: none;
  width: 100%;
  padding-top: 0;
  background: #28a4dd;
  color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.referralTitle {
  font-weight: bold;
  text-align: center;
  color: #fff;
  width: 100%;
  font-size: 20px;
}
.box {
  padding: 10px;
  height: 42px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.addressBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #fff; */
  color: #fff;
  border: 2px solid #fff;
}

.address-text {
  color: #fff;
}

.infoTotalBox {
  background-color: #fff;
  color: #000;
  font-weight: bold;
  border: 2px solid #fff;
  font-size: 16px;
}

.infoCommissionlBox {
  background: #27aae1;
  border: 2px solid #27aae1;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.tree {
  overflow: auto;
  margin-left: -5px;
}
/* .col4 {
  padding-left: 3px !important;
} */

.referralNode :global(.ant-tree-node-content-wrapper),
.referralNode :global(.ant-tree-treenode) {
  width: 100%;
}

.referralNode :global(.ant-tree-show-line) {
  background: none !important;
}

.referralNode :global(.ant-tree-switcher) {
  background: none !important;
}

.referralNode :global(.ant-tree-switcher-leaf-line::after) {
  height: 21px !important;
  border-bottom: 2px solid #fff;
}

.card :global(.ant-card-body) {
  padding: 24px 13px;
}

.referralNode {
  background-color: transparent;
}

.referralNode
  :global(.ant-tree-treenode-leaf-last .ant-tree-switcher-leaf-line::before) {
  height: 21px !important;
  border-right: 2px solid #fff;
}

.referralNode :global(.ant-tree-switcher-leaf-line::before) {
  /* height: 21px !important; */
  border-right: 2px solid #fff;
  bottom: -10px;
}
.referralNode :global(.ant-tree-node-content-wrapper) {
  padding: 0px !important;
}

.referralNode :global(.ant-tree-node-content-wrapper:hover) {
  background: none !important;
}

.referralNode :global(.ant-tree-treenode) {
  padding: 0 0 10px 0 !important;
}

.referralNode :global(.ant-tree-switcher-line-icon) {
  color: #fff;
}

.referralNode :global(.ant-tree-indent-unit::before) {
  border-right: 2px solid #fff;
  bottom: -10px;
}

.nodeBox {
  border: 2px solid #fff;
  padding: 0;
  line-height: 15px;
}

.nodeLeft {
  padding: 10px;
  color: #fff;
}

.nodeRight {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  height: 100%;
  width: 100%;
  padding-left: 7px;
  color: #000;
}
.iconCopy {
  width: 22px;
  height: 22px;
  background: var(--theme-color);
  right: 8px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px 0px;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .sub-header-right-section {
    display: none !important;
  }
  .col4 {
    padding-left: 3px !important;
  }

  .card {
    background: transparent;
  }

  .referral-icon {
    width: 20px;
    height: 20px;
  }

  .hidden-section {
    display: none;
  }

  .sub-header-balance {
    padding: 11px 20px 5px 27px;
  }

  .user-balance-logout {
    display: block !important;
  }

  .user-balance {
    padding: 6px;
    background-color: #fff;
    color: #000;
    font-size: 24px;
  }

  .user-balance span {
    color: #000;
  }

  .sub-header-balance-text .text {
    position: absolute;
    top: 45%;
  }

  .sub-header-balance-text .address {
    position: absolute;
    top: 50%;
  }
  .user-logout {
    padding: 10px 10px 3px 27px;
  }

  .account-section-without-scroll {
    display: block;
    position: relative;
    width: 100%;
    /* padding: 17px 20px 29px 20px; */
    padding: 10px 20px 10px 20px;

    transition: padding 0.5s;
    background: linear-gradient(#27aae1, #1c75bc);
    box-shadow: 0px 3px 6px rgb(0 0 0 / 15%);
    border-radius: 0px 0px 12px 12px;
  }
  .amount-inner-bg {
    position: relative;
    height: 100%;
    color: black;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    align-items: flex-start;
    justify-content: center;
    padding: 0 15px 22px;
    font-size: 32px;
    font-weight: 600;
    min-height: 126px;
    z-index: 999;
    display: flex;
    text-align: center !important;
    flex-direction: column !important;
  }
  .wallet-icon {
    position: absolute;
    right: 30px;
    top: -70px;
    bottom: 0;
    padding: 2px 5px;
    border-radius: 16px;
    margin-right: 0px;
    min-width: 32px;
    min-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0;
  }

  .wallet-icon img {
    width: 39px;
    height: 39px;
  }

  .font-18 {
    font-size: 16px;
    font-weight: 600;
    color: #eeeeee;
    text-align: left;
    position: relative;
  }
  .user-address {
    font-size: 10px;
    font-weight: 400;
    color: #eeeeee;
    line-height: 19px;
    width: 100px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    position: absolute;
    top: 80%;
  }
  .mob-user-balance {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    border-radius: 2.5px;
    color: #333;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    background-color: #fff;
  }

  .mob-user-balance > div {
    padding: 10px;
  }
  .currency-type {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #333;
    padding-left: 5px;
    display: inline !important;
  }

  .account-section-with-scroll {
    display: block;
    border-radius: 0;
    padding: 10px 0;
    width: 100%;
    padding: 10px 0 10px 0;
    transition: padding 0.5s;
    background: linear-gradient(#27aae1, #1c75bc);
    /* background-color: #27aae1; */
    box-shadow: 0px 3px 6px rgb(0 0 0 / 15%);
  }
  .amount-section {
    height: 100%;
    transition: 100ms;
  }
  .balance-section {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    height: 100%;
    background-color: transparent;
    min-height: 50px;
    text-align: center !important;
  }
  .font-18-scroll {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #eeeeee;
    text-align: left;
  }

  .mob-user-balance-scroll {
    display: flex;
    font-size: 22px;
    align-items: center;
    padding-left: 10px;
    margin-left: 15px;
    background-color: #fff;
    border-radius: 2.5px;
    width: 200px;
  }
  .mob-user-balance-scroll-amount {
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    color: #333;
  }

  .currency-type {
    color: #333;
    font-weight: 500;
    font-size: 14px;
    padding-left: 5px;
  }
  .meta-icon-scroll {
    display: flex;
    justify-content: space-around;
  }
  .wallet-icon-box {
    padding: 2px 5px;
    border-radius: 16px;
    margin-right: 0px;
    min-width: 32px;
    min-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0;
  }

  .wallet-icon-box img {
    width: 25px;
    height: 25px;
  }

  .bridge-swap-crypto-section {
    padding-top: 0;
    height: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }

  .header-plus-icon {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    color: #fff;
    background-color: #155aa9;
    margin: 0 auto;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.5s;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 15%);
  }

  .header-plus-icon img {
    width: 25px;
    height: 25px;
  }

  .close-icon {
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
  }

  .bridge-swap-crypto-section-hidden {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    /* padding-top: 17px; */
    transition: 0.5s;
    opacity: 1;
    height: auto;
  }
  .iconCopy {
    display: block;
  }
  .address-text {
    font-size: 13px;
  }
}
@media screen and (max-width: 375px) {
  .referralTitle {
    font-size: 13px;
  }
  .address-text {
    font-size: 11px !important;
  }
  .infoCommissionlBox span {
    font-size: 11px;
  }
  .nodeBox {
    font-size: 11px;
  }
  .infoTotalBox {
    font-size: 11px;
  }
}
@media screen and (max-width: 425px) {
  .address-text {
    font-size: 13px;
  }
}

@media screen and (max-width: 320px) {
  .user-balance {
    font-size: 20px;
  }
  .referralTitle {
    font-size: 14px;
  }
  .address-text {
    font-size: 9.3px !important;
  }
  .infoCommissionlBox span {
    font-size: 10px;
  }
  .nodeBox {
    font-size: 11px;
    /* line-height: 15px; */
  }

  .meta-icon {
    margin-bottom: 1em;
  }
  .mob-user-balance-scroll span {
    font-size: 15px;
  }
  .font-18-scroll {
    font-size: 10px;
  }
}
