.subMenu {
  background: rgb(37, 39, 47);
  left: 0px;
  width: 310px;
  position: fixed;
  /* left: -310px; */
  /* background-color: #f4f4f4; */
  display: block;
  height: 100vh;
  z-index: 9999;
  top: 70px;
  transition: left 0.5s;
  overflow: auto;
  border-radius: 5px;
  padding: 32px 22px 20px 29px;
}
.faucet {
  color: #27aae1;
  border: 1px solid hsla(0, 0%, 77.9%, 2.35);

  border-radius: 8px;
  text-align: center;
  width: 100px;
  min-width: 255px;
  max-width: 255px;
  font-size: 16px;

  padding: 5px;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav ul {
  list-style: none;
}
/* 
.mainTitle {
  display: flex;
  justify-content: space-between;
  grid-gap: 7px;
  gap: 7px;
  align-items: center;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.01em;
  color: #f8c237;
  padding-left: 90px;
} */

.nav img {
  width: 17px;
  height: 100%;
}
.mainTitle span {
  /* width: 100%; */
  margin-left: -112px;
  /* margin-right: 132px; */
}

.btnComing {
  /* padding: 0 10px 12px 10px; */
  padding-bottom: 12px;
  background: #27aae1;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
  border-radius: 5px;
  font-weight: 600;
  font-size: 8px;
  line-height: 14px;
  min-width: 80px;

  text-align: center;
  color: #25272f;
  height: 14px;
}

.nav li {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* justify-content: space-between; */
  grid-gap: 30px;
  /* gap: 7px; */
  align-items: center;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.01em;
  color: #27aae1;
  padding-left: 20px;
  padding: 10px 5px;
}
/* .langue {
  margin-top: -15px;
}
.langueName {
  margin-bottom: 10px;
} */

.secondTitle span {
  margin-left: -44px;
}

.secondTitle .fantasy {
  margin-right: -15px;
}
.secondMenu {
  display: flex;
  flex-direction: column;

  padding: 20px 55px;
}

.secondMenu a {
  font-weight: 400;
  font-size: 13px;
  text-transform: capitalize;
  color: #f5f5f5;
  padding: 0;
  margin-bottom: 10px;
}

/*  */

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.main-left {
  width: 100%;
}

.main-left nav {
  height: 100px;
  /* background-color: #155aa9; */
}

.main-left nav > div {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 15px;
  margin-left: 50px;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: -20px;
  flex-direction: column;
}

.main-left nav > div .dropdown:nth-child(1) {
  position: relative;
  min-width: 255px;
  max-width: 255px;
  margin-right: -15px;
  text-align: center;
  text-transform: capitalize;
  border-radius: 8px;
  border: 1px solid hsla(0, 0%, 77.9%, 2.35);
}

.main-left nav > div .dropdown:nth-child(1) > button {
  font-weight: 500;
  padding: 0 5px;
  background-color: transparent;
  color: #f5f5f5;
  font-size: 14px;
  height: 37px;
  width: 100%;
  border-color: transparent;
  /* margin-left: -100px; */
}

.main-left nav > div .dropdown:nth-child(1) button img:nth-child(1) {
  border-radius: 5px;
  object-fit: cover;
  width: 22px;
  height: 17px;
}

.main-left nav > div .dropdown:nth-child(1) > button > span {
  padding: 0 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  text-transform: capitalize;
}

.main-left nav > div .dropdown:nth-child(1) button img:nth-child(2) {
  width: 10px;
  height: 5px;
}

.main-left nav > div .dropdown:nth-child(2) {
  min-width: 72px;
  position: relative;
  text-align: center;
  text-transform: capitalize;
  border-radius: 8px;
  border: 1px solid hsla(0, 0%, 77.9%, 2.35);
  min-width: 255px;
  max-width: 255px;
  margin-right: -15px;
}

.main-left nav > div > .dropdown:nth-child(2) > button {
  font-weight: 500;
  padding: 0 10px;
  background-color: transparent;
  color: #f5f5f5;
  font-size: 14px;
  height: 37px;
  width: 100%;
  border-color: transparent;
  letter-spacing: 1px;
  margin-left: 5px;
}
.logoCountry {
}

.main-left nav > div > .dropdown:nth-child(2) > button > span {
  padding: 0 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  text-transform: capitalize;
  color: #f5f5f5;
}

.main-left nav > div > a {
  display: block;
  text-decoration: none;
  color: white;
  margin-left: 25px;
}

.submain {
  position: relative;
}

.submain button {
  width: 260px;
  height: 80px;
  background: linear-gradient(#27aae1, #1c75bc);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  padding: 18.5px 67.5px;
  cursor: pointer;
  border: none;
  text-align: left;
  align-items: center;
}

.submain button p {
  left: 80px;
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  top: 20px;
}

.submain button p span {
  font-weight: 800;
}

.submain button img {
  position: absolute;
  top: 35px;
  margin-top: -8px;
  left: 35px;
}

/* .main-left nav > div .dropdown:nth-child(1) > .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  
    z-index: 0;
    cursor: pointer;
  } */

.dropdown-menu {
  position: absolute;
  width: 100%;
  min-width: 100%;
  left: 0px !important;
  top: 37px !important;
  -webkit-transform: inherit !important;
  transform: inherit !important;
  background: #eee !important;
  border-radius: 0 0 8px 8px !important;
  padding: 0;
  z-index: 10000;
  border: none;
}

.dropdown-menu > button {
  display: flex;
  font-weight: 500;
  padding: 5px 5px;
  background-color: transparent;
  color: #f5f5f5;
  font-size: 14px;
  height: 37px;
  width: 100%;
  border-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.dropdown-menu > button:last-child {
  border-bottom: none;
  border-radius: 0 0 8px 8px;
}

.dropdown-menu > button > img {
  margin-right: 10px;
  width: 22px;
  height: 17px;
}

.dropdown-menu button span {
  padding-left: 5px;
  color: rgb(49 49 68 / 60%);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.dropdown-menu > button:hover {
  width: 100%;
  background-color: #f8c237;
}

.dropdown-menu-link {
  position: absolute;
  width: 100%;
  min-width: 100%;
  left: 0 !important;
  top: 37px !important;
  -webkit-transform: inherit !important;
  transform: inherit !important;
  background: #eee !important;
  border-radius: 0 0 8px 8px !important;
  padding: 0;
  border: none;
}

.dropdown-menu-link > a {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #313144;
  padding: 0 24px;
}

.dropdown-menu-link > a:nth-child(2) {
  border-radius: 0 0 8px 8px !important;
}

.dropdown-menu-link > a:hover {
  width: 100%;
  background: #f8c237;
}
.logoutIcon {
  margin-right: -10px !important;
}
.user-logout {
  width: 100%;
}
.user-logout span {
  margin-top: 10px;
}
.header-main:last-child {
  border-top: 1px solid white;
  margin-top: 20px;
}
@media screen and (max-width: 991px) {
  .user-logout {
    display: flex;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    margin: 0;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    padding: 25px;
  }
  .nav li:nth-child(1) {
    grid-template-columns: 1fr 1fr;
  }
  .mainTitle img {
    margin-right: 40px;
  }

  .user-logout span {
    color: white;
  }

  .user-logout img {
    padding: 0 20px 0 10px;
  }
  .mainTitle span {
    margin-left: -100px;
  }
}

@media screen and (max-width: 428px) {
  /* .mainTitle span {
    margin-right: 10px;
    margin-left: -75px;
  } */
  .secondTitle span {
    margin-left: -120px;
  }
  .dropdown .logoCountry {
    /* margin-right: 110px; */
  }
  .dropdown img {
    margin-right: 0;
  }
  .mainTitle img {
    margin-right: 40px;
  }
  .mainTitle span {
    margin-left: -112px;
  }
}
@media screen and (max-width: 390px) {
  .dropdown img {
    margin-left: 0px;
  }
}
.dropdown .logoCountry {
  width: 20px;
}
.dropdown .logoOdd {
  width: 20px;
}

/* @media screen and (max-width: 991px) {
  .mainRight {
    position: relative;
    width: 100%;
    background: linear-gradient(#27aae1, #1c75bc);
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: padding 0.5s;
    padding: 30px;
    margin-top: -10px;
    transition: 0.2s;
  }

  .main-left {
    display: none;
  }
  .mainRight .submain button {
    max-width: 1100px;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
  }
} */
