.main {
  width: 100%;
  margin-bottom: 20px;
}
.title {
  background: #f1f1f1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 12px;
  height: 23px;
  max-height: 23px;
  min-height: 23px;
}

.title .logo {
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
  margin-right: 4px;
  margin: auto 4px;
  background-position: 0 -592px;
}
.title span {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title .time {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
  white-space: nowrap;
}

.status-bar {
  display: flex;
  height: 22px;
  max-height: 22px;
  padding: 0 8px;
  justify-content: space-between;
  font-size: 14px;
  background: #222425;
}

.event-status {
  color: rgba(241, 241, 241, 0.8);
}

.event-time {
  color: #f1d66e;
}

.header {
  background: #222425;
  display: flex;
  padding: 0 8px;
}

.subHeader {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.headerMid {
  width: 33%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-width: 90px;
  /* margin-bottom: 1px; */
}
.headerMid .subHeaderMid {
  background: #61696e;
  width: 100%;
  color: #fff;
  padding-left: 5px;
}
.score {
  background: #464749;
  width: 100%;
  align-items: center;
  flex-direction: column;
  display: flex;
}
.scoreNumber {
  font-weight: bold;
  margin: auto;
  font-size: 16px;
  color: #f1d66e;
}
.subScore {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  width: inherit;
  color: #fff;
}
.headerLeft {
  background: #222425;
  color: #fff;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.headerLeft img {
  height: 18px;
  width: 18px;
  margin-right: 8px;
}

.headerRight {
  background: #222425;
  color: #fff;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.headerRight img {
  height: 18px;
  width: 18px;
  margin-right: 8px;
}

.timer {
  display: flex;
}

.countdown {
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-left-width: 1px;
  border-style: solid;
  border-color: rgba(241, 241, 241, 0.2);
  color: #fff;
  border-bottom: none;
  border-top: none;
  border-right: none;
}

.countdownValue {
  font-size: 18px;
}

.countdownDes {
  font-size: 14px;
}

.detail {
  height: 28px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  font-size: 14px;
  color: #f1f1f1;
  background: #323234;
}

.detailLeft {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0 2px;
  position: relative;
  flex: 1;
  width: 100%;
}
.detailRight {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0 2px;
  position: relative;
  flex: 1 1;
  width: 100%;
}
.detailMid {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0 2px;
  position: relative;
  flex: 1 1;
  width: 100%;
}

.detail img {
  width: 16px;
  height: 16px;
  margin: 0 5px;
}

.border::after {
  position: absolute;
  content: "";
  top: 2px;
  right: 1px;
  height: calc(100% - 4px);
  width: 1px;
  background: rgba(241, 241, 241, 0.2);
}

.menuSlider {
  transform: translateX(0px);
  width: 100%;
  touch-action: pan-y;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: absolute;
  display: flex;
  transition: transform 0.5s;
  background: #211f1f;
}

.menuItem {
  width: calc(100% / 6);
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  height: 40px;
  justify-content: center;
  transition: background 0.5s, color 0.5s;
  text-align: center;
  text-decoration: none;
  outline: none;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.menuItem:hover {
  background: #222425;
  color: #f1d66e;
}

.menuItem.active {
  background: #222425;
  color: #f1d66e;
}

.menuText {
  white-space: nowrap;
  margin: 0 10px;
  text-transform: uppercase;
}
