.profileContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  border: 1px solid hsla(0, 0%, 43.9%, 0.5);
  border-radius: 0 0 10px 10px;
}
.main {
  border: none;
  /* width: 100%; */
  margin-right: -47px;
}
.mainMain {
  margin-top: 180px;
  min-height: 400px;
}
.date ul {
  width: 100%;
  display: flex;
}
.marginHeader {
  margin-top: 70px;
}
.date ul li {
  background: transparent;
  border: 1px solid rgba(112, 112, 112, 0.5);
  border-radius: 8px;
  width: 100%;
  /* background-color: #f8c237; */
  padding: 8px 10px;
  margin: 0 5px;
  /* border-radius: 10px; */
  color: #fff;
  /* font-size: 16px; */
  font-weight: bold;
  padding-right: 0;
}
.date img {
  cursor: pointer;
}

.sectionMain {
  padding-top: 0;
  float: left;
  width: 100%;
  display: block;
  background-color: #fff;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding-right: 40px; */
  border-right: 1px solid hsla(0, 0%, 43.9%, 0.2);
}
.profileAvatar {
  width: 123px;
  height: 123px;
  border-radius: 100%;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  cursor: pointer;
  margin-bottom: 8px;
}
.profileAvatarDefault {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
  background: #d9d9d9;
  color: #707070;
  border: 0.5px solid #707070;
  text-align: center;
  font-size: 11px;
}
.profileTitle {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  text-transform: capitalize;
  color: #1f2128;
}
.profileAdd {
  color: #000;
  font-size: 14px;
}
.profileSub {
  cursor: pointer;
}
.profileInfoData {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 50px;
}
.profileInfo {
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
  gap: 15px;
}
.profileValue {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #1f2128;
}
.profileLabel {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #707070;
}
.mainHeader {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.history {
  margin: 24px 0;
}
.historyInfo {
  margin: 20px 0px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(380px, auto));
}
.historyDes {
  text-align: center;
  color: rgb(0, 0, 0);
}
.historyMain {
  width: 100%;
  margin-top: -10px;
}

@media screen and (max-width: 991px) {
  .timeLineBet {
    display: none;
  }
  .sectionMain {
    /* width: 850px; */
  }
  .profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile {
    border-right: none;
    margin-right: 10px;
  }
  .profile .profileTitle {
    margin-right: -15px;
  }
  .profileInfoData {
    padding: 10px;
  }
}
