.right {
  width: 100%;
  overflow-x: hidden;
}

.navigation {
  background: #f5f5f5;
  border-radius: 5px;
  margin-bottom: 14px;
  width: 100%;
  min-height: 347px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - 430px);
  /* position: sticky !important;
    z-index: 10;
    top: 0;
    background: white; */
}
.timeLine {
  /* display: f; */
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navMain {
  display: flex;
  justify-content: space-between;
  width: calc(100% / 1 - 6px);
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
}

.textRight {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
}
.textRight .matchValue {
  margin-left: -10px;
}

.nav {
  border: none;
  display: flex;
  justify-content: space-between;
  /* margin-left: -40px; */
  width: 100%;
  margin: 0 5px;
}

.nav div {
  background-color: #155aa9;
  font-size: 12px;
  border-radius: 2.5px;
  color: #fff;
  text-align: center;
  width: calc(100% / 3 - 2px);
  font-weight: 500;
  list-style: none;
  cursor: pointer;
  width: 100%;
  border-radius: 2.5px;
  text-align: center;
}

.nav > div > button {
  background-color: #155aa9;
  font-size: 12px;
  border-radius: 2.5px;
  padding: 7px 15px;
  color: white;
  text-align: center;
  width: 100% !important;
  font-weight: 500;
  border: none;
  color: #fff;
  white-space: nowrap;
}
.nav button.active {
  background: linear-gradient(#27aae1, #1c75bc);
}

.active {
  background: linear-gradient(#27aae1, #1c75bc);

  color: #fff;
}
.sliderHistory {
  padding: 0 13px 1px 5px;
}

.tab-content {
  margin-bottom: 14px;
}

.tab-content .heading-tab {
  padding: 4px 17px 0 6px;
}

.tab-content .heading-tab > div {
  display: flex;
  justify-content: space-between;
}
.tab-content .heading-tab > div > p {
  font-size: 13px;
  font-weight: 600;
  color: #000;
}

.tab-content .heading-tab > div > span > img {
  width: 12px;
  cursor: pointer;
}

.body-tab {
  padding: 0 5px;
}

.back-div > ul {
  display: flex;
  width: 100%;
  background: #ffc373;
  color: #000;
  font-weight: 600;
  padding: 2px 15px;
  margin-bottom: 0;
  padding-right: 8px;
  list-style: none;
}

.back-div > ul li {
  width: calc(100% / 2);
  float: left;
  font-size: 11px;
}

.back-div > ul li:nth-child(1) p {
  margin: 0;
  font-size: 14px;
}

.back-div > ul li:nth-child(2) p {
  float: left;
  width: 50%;
  text-align: center;
  margin: 0;
  font-size: 14px;
}

.back-data > ul {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #f5f5f5;
  padding: 8px 0;
  color: #000;
  list-style: none;
  margin: 0;
}

.back-data > ul li {
  width: calc(100% / 2);
  float: left;
  font-size: 11px;
}

.back-data > ul li:nth-child(1) div {
  margin: 0;
}

.back-data > ul li:nth-child(2) {
  width: 60%;
  font-size: 11px;
  float: left;
}

.back-data > ul li:nth-child(2) div {
  float: left;
  width: 50%;
  text-align: center;
}

.back-data > ul li:nth-child(2) div input {
  width: 90%;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  height: 30px;
  -webkit-appearance: auto;
  -moz-appearance: auto;
  appearance: auto;
  text-align: center;
}

.payout-amt {
  display: inline-block;
  width: 100%;
  margin-top: 15px;
}

.payout-amt > ul {
  margin: 0;
  list-style: none;
}

.payout-amt > ul li:nth-child(1) {
  float: right;
  font-weight: bold;
  font-size: 13px;
  width: calc(100% / 2);
}

.payout-amt > ul li:nth-child(2) {
  float: right;
  font-weight: bold;
  font-size: 13px;
  width: calc(100% / 2);
}

.payout-amt > ul li:nth-child(2) p:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 13px;
  color: #000;
  font-weight: 600;
  width: 45%;
  margin: 0;
  float: left;
}

.payout-amt > ul li:nth-child(2) p:nth-child(2) {
  font-size: 13px;
  color: #216721;
  font-weight: 600;
  width: 41%;
  text-align: right;
  float: left;
  margin: 0;
}

.profit p {
  float: left;
  width: calc(100% / 2 - 15px);
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin: 0 7px;
  padding: 6px;
  margin-left: 6px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.profit p span {
  font-size: 16px;
  color: #000;
  font-weight: bold;
}

.profit p:nth-child(1) span:nth-child(2) {
  color: #ff3b30;
  margin-left: 6px;
  font-size: 16px;
  font-weight: bold;
}

.profit p:nth-child(2) span:nth-child(2) {
  color: #216721;
  margin-left: 6px;
  font-size: 16px;
  font-weight: bold;
}

.shape-img {
  display: block;
  position: relative;
}

.shape-img img {
  width: 100%;
}

.place-betsBtn {
  padding: 0 15px;
}

.place-betsBtn button {
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(#27aae1, #1c75bc);
  border-radius: 8px;
  border: none;
  padding: 10px;
  height: 100%;
  margin-top: 10px;
  width: 100%;
  color: #fff;
}

.selection {
  font-size: 12px;
  font-weight: 900;
  padding-left: 8px;
  min-height: 30px;
  width: 100%;
  border: 1px solid rgba(240, 239, 239, 0.5);
  border-radius: 5px;
}

.match {
  display: flex;
  align-items: center;
  justify-content: space-around;
  line-height: 33px;
  margin-top: 10px;
}

.btnMatch {
  width: 100%;
  background-color: #f0efef !important;
  color: #000 !important;
  padding: 0px 15px;
  border-radius: 0 !important;
  display: inline-block !important;
  line-height: 30px;
  width: 100%;
  text-align: center;
  border: 1px solid rgba(240, 239, 239, 0.5);
}

.btnMatch .active {
  background: #f8c237;
}
.active {
  width: 100%;
  border: 1px solid rgba(240, 239, 239, 0.5);
}

.alert {
  min-height: 250px;
  display: flex;
  align-items: center;
}

.desc {
  border: 1px solid #27aae1;
  text-align: center;
  margin: 15px 0 !important;
  font-weight: 400;
  color: #000;
  line-height: 22px;
  width: 100%;
}

.tradeHistory {
  background-color: #f5f5f5;
  padding: 15px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 6px;
  position: relative;
}

.headerTraded {
  border-bottom: 2px solid #f5f5f5;
  margin-top: 30px;
  margin-bottom: 10px;
}

.recentlyTraded {
  color: #707070;
  font-weight: bold;
  width: fit-content;
  position: relative;
  padding-bottom: 5px;
}

.recentlyTraded::before {
  content: " ";
  position: absolute;
  width: 100%;
  background: linear-gradient(#27aae1, #1c75bc);
  bottom: -2px;
  height: 2px;
}

.tradeIcon {
  background: linear-gradient(#27aae1, #1c75bc);
  cursor: pointer;
  color: #fff;
  /* font-size: 18px; */
  border-radius: 50%;
  position: absolute;
  /* top: 5px; */
  margin-top: -25px;
  right: 0;
  margin-right: 15px;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tradeIcon::before {
  content: "+";
  height: 20px;
  width: 20px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .collapsed .tradeIcon::before {
        content: "+";
      } */

.tradeIcon::before {
  content: "-";
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick_slider {
  position: relative;
  display: block;
}

.historyTime {
  padding: 0px;
  margin: 0px;
  outline: none;
  list-style: none;
  line-height: 1;
}

.floatLeft {
  text-align: center !important;
  /* float: left; */
  margin-top: 20px;
  width: 100%;
}
.startTime {
  text-align: center !important;
  /* float: right; */
  justify-content: space-around;
  /* margin-top: 20px; */
  /* margin: 0 10px; */
  margin-bottom: 10px;
  display: flex;
  gap: 390px;

  /* margin-right: 10px; */
}
.floatRight {
  /* float: right; */
  position: relative;
  font-size: 13px;
  color: #34c759;
  border: 1px solid #707070;
  border-radius: 17px;
  padding: 5px 10px 5px 25px;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
}

.floatRight::after {
  content: " ";
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: #f8c237;
  border-radius: 50%;
  left: 9px;
  top: 10px;
}

.slider {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #f5f5f5;
  border-top: 1px solid black;
}

.tradeMatch {
  display: inline-block;
  width: 100%;
  margin-top: -12px;
}

.matchHeading {
  background: gold;
  /* border: 1px solid; */
  color: black;
  border-radius: 10px;
  font-size: 14px;
  /* font-weight: bold; */
}

.matchValue {
  font-size: 12px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  /* margin-right: -10px; */
}

.matchTeam {
  width: 26px;
  height: 26px;
  margin-top: -5px;
}
.matchTitle {
  display: flex;
  /* width: 100%; */

  font-weight: bolder;
  /* margin-right: 15px; */
  gap: 5px;
}

.betid {
  margin-right: -100px;
  background: #145aaa;
  color: white;
  /* border: 1px solid; */
  border-radius: 10px;
  /* font-weight: 700; */
  margin-right: -100px;
  /* margin-left: 12px; */

  text-align: center;
  width: 100%;
}

.match1 {
  text-overflow: ellipsis;
  white-space: nowrap;
  /* overflow: hidden; */
  display: inline-block;
  /* width: 48px; */
  font-weight: initial;
}
.match2 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  font-weight: initial;
}

.px2 {
  /* padding-left: 0.5rem;
    padding-right: 0.5rem; */
  /* margin-top: 10px; */
}

.matchValue {
  /* float: right; */
  /* font-weight: bolder; */
}

.numberValue {
  color: gray;
  /* font-weight: 900; */
}

.historyDate {
  color: black;
  /* font-weight: 900; */
  /* margin-left: 20px; */
}

.singleTeamName {
  font-size: 13px;
  width: 100px;
  /* font-size: 18px; */
  color: #020202;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  /* width: 180px; */
  overflow: hidden;
}

.mainTitle span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: linear-gradient(#27aae1, #1c75bc);
  display: flex;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
}
.mainTitle img {
  width: 11px;
}
.mainTitle {
  display: flex;
  align-items: center;
  float: right;
  position: relative;
  font-size: 13px;
  color: #000;
  border-radius: 17px;
  padding: 5px 0px 5px 25px;

  cursor: pointer;
}

.mainTitle span {
  display: flex;
  align-items: center;
}

.tradeTeam {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 12px;
  padding: 6px 0;
  margin: 12px 0;
  gap: 300px;

  color: #000000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.tradeGap {
  margin-bottom: 20px;
}

.tradeTeam .singleTeamName {
  margin-top: 10px;
}

.tradeStake {
  display: inline-block;
  width: 100%;
  /* margin: 0 15px; */
}

.tradeStake ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  gap: 10px;
}

.tradeStake ul li {
  width: calc(100% / 3);
  float: left;
  padding: 0px;
  margin: 0px;
  outline: none;
  list-style: none;
  text-align: center;
}

.tradeStake ul li:nth-child(1) {
  width: calc(100% / 3);
  float: left;
  text-align: left;
}

.tradeStake ul li:nth-child(2) {
  width: calc(100% / 3);
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.tradeStake ul li:nth-child(3) {
  text-align: right;
  width: calc(100% / 3);
  float: left;
}

.tradeStake .oddText {
  font-size: 12px;
  /* color: #707070; */
  padding-bottom: 12px;
  /* font-weight: 600; */
  text-align: center;
}

.tradeStake .oddValue {
  font-size: 12px;
  color: #000000;
  line-height: 30px;
  text-align: center;
}

.dots ul li button {
  font-size: 0;
  line-height: 0;
  display: block;
  padding: 5px;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.dots ul li button::before {
  opacity: 0.6;
  color: #f8c237;
  font-size: 8px;
}

.oddValue-lay {
  /* background-color: gold; */
  /* border-radius: 10px; */
  color: #145aaa;
  /* padding: 0px 11px; */
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  white-space: normal;
  width: 100%;
  text-align: center;
  margin-left: 5px;
  margin-top: -19px;
}
.historyTime {
  /* font-weight: 600; */
  color: black;
}

/* Responsive */
@media screen and (max-width: 425px) {
  .tradeTeam {
    gap: 50px !important;
  }
  .singleTeamName1 {
    padding-left: 10px;
  }
  .startTime {
    gap: 100px !important;
  }
}

@media screen and (max-width: 991px) {
  .right {
    margin: 0;
  }
  .singleTeamName1 {
    padding-left: 20px;
  }
  .mainHeading {
  }
  .mainTitle1 {
    margin-right: -25px;
  }
  .mainTitle0 {
  }
  .startTime {
    margin-bottom: 30px;
    gap: 300px;
  }
  .tradeTeam {
    /* gap: 100px; */
  }

  .matchHeading {
    margin-left: 0px;
  }

  .navMain {
    position: sticky;
    top: 0px;
    /* z-index: 1000; */
    left: 0;
  }
  .floatLeft {
    margin-top: 20px;
  }
  .floatLeft .historyTime {
    /* margin-left: 30px; */
  }
  .floatLeft .historyDate {
    /* margin-left: 30px; */
  }
  .dots ul li {
    margin-bottom: 15px;
  }

  .navigation {
    /* display: none; */
  }
  .navMain {
    width: 100%;
  }
  .floatRight {
    margin-bottom: 30px;
    margin-top: 10px;
    /* display: none; */
  }

  .tradeHistory {
    margin: 0 15px;
  }
  .headerTraded {
    margin: 5px 15px;
    display: none;
  }
  .nav {
    width: 100%;
  }
  .right {
    margin: 0 30px;
    margin-right: 45px;
    display: contents;
  }
  /* 
        .tradeIcon {
          margin-right: 15px;
        } */

  .tradeHistory {
    padding: 0 20px;
    display: none;
  }

  /* .tradeHistory:last-child {
          margin-bottom: 20px;
        } */

  .headerTraded {
    padding: 0 20px;
  }
  .betid {
    margin-top: -10px;
    /* margin-left: 40px; */
    /* color: black; */
    /* font-weight: bold; */
  }
  .matchTitle {
    width: auto;
  }
}

@media screen and (max-width: 280px) {
  .tradeTeam {
    gap: 20px !important;
  }
}

/* Iphone 12pro max */
@media screen and (max-width: 428px) {
  .right {
    margin: 0 10px;
    margin-right: 5px;
  }
  .tradeTeam {
    gap: 50px;
  }
  .startTime {
    gap: 100px !important;
  }
}

/* Iphone 12 pro */
@media screen and (max-width: 390px) {
  .tradeHistory {
    /* margin-right: 40px; */
  }
  .floatRight {
    font-size: 12px;
  }
  .hr1 {
    margin-left: -278px;
  }
  .hr2 {
    margin-left: 480px;
  }
  .tradeStake ul {
    /* margin-left: 20px; */
  }
  .oddText {
    /* margin-right: 10px; */
  }
}

@media screen and (max-width: 320px) {
  .tradeHistory {
    /* margin: 0 5px; */
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
  .singleTeamName1 {
    padding-left: 20px;
  }
  .oddValue-lay {
    padding: 0 5px;
    font-size: 10px;
  }
  .alert {
    background: #f5f5f5;
  }
  .tab-content {
    background: #f5f5f5;
  }
  .hr1 {
    margin-left: 60px;
  }
  .hr2 {
    margin-left: 550px;
  }
  .navigation {
    display: contents;
  }
  .matchHeading {
    /* margin-left: 20px; */
    font-size: 10px;
    text-align: center;
  }
  .textRight {
    margin-right: 0px;
  }
  .betid {
    font-size: 10px;
  }
  .matchValue {
    font-size: 10px;
  }
}

/* Iphone SE */
@media screen and (max-width: 375px) {
  .tradeHistory {
    margin-right: 10px;
    margin-left: 5px;
    /* display: block; */
    display: none;
  }
  .singleTeamName1 {
    padding-left: 15px;
  }
  .navigation {
    padding: 40px;
  }
  .hr1 {
    margin-left: 50px;
  }
  .hr2 {
    margin-left: 170px;
  }
  .navMain {
  }
  .oddValue-lay {
    /* margin-left: 10px; */
  }
}
