.country {
  /* min-width: 300px; */
  max-width: 250px;
  width: 100%;
  height: calc(100vh - 185px);
  overflow-y: auto;
  position: sticky !important;
  top: 185px;
  margin-top: 0;
}

.country::-webkit-scrollbar {
  width: 8px;
}

.country::-webkit-scrollbar-thumb {
  background-color: #959296;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

.country h1 {
  font-weight: 500;
  font-size: 15px;
  color: #f5f5f5;
  width: 100%;
  background: #2a4173;
  line-height: 45px;
  text-align: center;
  border-radius: 5px 5px 0 0;
  margin: 0;
}

.country .accordion {
  width: 100%;
  background-color: #f5f5f5;
}

.accordion .accordian-heading {
  width: 100%;
  padding: 0 23px;
}

.accordian-heading div {
  height: 50px;
}

.accordian-heading button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-color: transparent;
  border-bottom: 1px solid rgba(112, 112, 112, 0.1);
  background-color: #f5f5f5;
}

.internation-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.internation-info p {
  margin: 0 0 0 5px;
}

.internation-info img {
  width: 18px;
  height: 18px;
  object-fit: cover;
}

.dropdown-number {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-number svg {
  width: 14px;
  margin-left: 10px;
}

.active {
  font-weight: bold;
}

.accordian-heading ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.accordian-heading ul li a {
  display: flex;
  padding: 0px 5px;
  justify-content: center;
  width: 100%;
  align-items: center;
  height: 50px;
  background-color: #f5f5f5;
  color: rgba(112, 112, 112, 1);
  border-bottom: 1px solid rgba(112, 112, 112, 0.1);
}

.accordian-heading ul li:last-child a {
  /* border-bottom: none; */
}

.accordian-heading ul li svg {
  width: 10px;
  margin-left: auto;
  color: #2c2e35;
}

.up-arrow {
  width: 14px;
  margin-left: 5px;
  font-weight: bold;
}

.accordian-heading .invisible-country {
  width: 100%;
  height: 100%;
  /* cursor: default; */
  color: #d9d9d9;
}

.accordian-heading .invisible-country .internation-info img {
  width: 18px;
  height: 18px;
  position: relative;
}

.accordian-heading .invisible-country .internation-info img::before {
  display: block;
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 100;
}

@media screen and (max-width: 991px) {
  .country {
    display: none;
  }
}
