.country {
  /* min-width: 300px; */
  /* max-width: 250px; */
  width: 100%;
  height: calc(100vh - 185px);
  overflow-y: auto;
  position: sticky !important;
  top: 185px;
  margin-top: 0;
}

.country h1 {
  font-size: 14px;
  font-weight: bold;
  color: #707070;
  width: fit-content;
  padding-bottom: 3px;
  border-radius: 0;
  background-color: transparent;
  border-radius: 0;
  line-height: normal;
  position: relative;
}

.country h1::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(#27aae1, #1c75bc);
}

.country .accordion {
  width: 100%;
  background-color: white;
}

.accordion .accordian-heading {
  width: 100%;
  padding: 0 23px;
}

.accordian-heading div {
  height: 50px;
}

.accordian-heading button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-color: transparent;
  border-bottom: 1px solid rgba(112, 112, 112, 0.1);
  background-color: white;
}

.internation-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.internation-info p {
  margin: 0 0 0 5px;
}

.internation-info img {
  width: 18px;
  height: 18px;
  object-fit: cover;
}

.dropdown-number {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-number svg {
  width: 14px;
  margin-left: 10px;
}

.active {
  font-weight: bold;
}

.accordian-heading ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.accordian-heading ul li a {
  display: flex;
  padding: 1px 9px;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #ffff;
  color: rgba(112, 112, 112, 1);
  border-bottom: 1px solid rgba(112, 112, 112, 0.1);
}

.accordian-heading ul li:last-child a {
  border-bottom: none;
}

.accordian-heading ul li svg {
  width: 10px;
  margin-left: auto;
  color: #2c2e35;
}

.up-arrow {
  width: 14px;
  margin-left: 5px;
  font-weight: bold;
}

.accordian-heading .invisible-country {
  width: 100%;
  height: 100%;
  /* cursor: default; */
  color: #d9d9d9;
}

.accordian-heading .invisible-country .internation-info img {
  width: 18px;
  height: 18px;
  position: relative;
}

.accordian-heading .invisible-country .internation-info img::before {
  display: block;
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 100;
}
