.footer-mobile {
  display: none;
  box-sizing: border-box;
  margin: 0;
  background-color: #2a4272;
  padding: 8px 22px 4px;
  height: 56px;
}
.active {
  color: #27aae1;
}
.default {
  color: white;
}

@media screen and (max-width: 991px) {
  .footer-mobile {
    display: block;
    background: #2a4272;
    border-top: 0.5px solid rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    bottom: -2px;
  }

  .footer-mobile .footer-tabs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-tab {
    position: relative;
    color: #b7b7b7;
    width: 43px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 2px;
    gap: 2px;
  }

  .footer-tab img {
    width: 100%;
    height: 24px;
    transition: all 0.6s ease-in-out;
    transition-delay: 0.3s;
    object-fit: contain;
  }

  .footer-tab .tab-name {
    display: inline-block;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 55px;
  }

  .active span {
    border: none;
    /* color: rgb(248, 194, 55); */
  }

  /* .footer-glider {
    box-sizing: border-box;
    width: 43px;
    height: 3px;
    border-radius: 3px;
    background-color: #f8c237;
    transition: all 0.3s linear;
  } */
}
