.footer-foot {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 95px;
  background: #145aaa;
  /* background: linear-gradient(#27aae1, #1c75bc); */
}

.footer-foot div:nth-child(1) {
  display: flex;
  align-items: center;
}
.logo {
  height: 30px !important;
}
.footer-foot div:nth-child(1) > p {
  margin-bottom: 0;
  color: #fff;
}

.footer-foot div:nth-child(1) a {
  color: #fff;
}

.footer-foot div:nth-child(1) div {
  display: flex;
}

.footer-foot > div:nth-child(2) {
  height: 22px;
}

.line {
  width: 1px;
  height: 20px;
  background-color: white;
  margin: 5px 10px;
}

.icon img {
  width: 18px;
}
.iconSocial a img {
  height: 15px !important;
}

.icon .iconWeb {
  padding-top: 7px;
  color: white;
}

.footer-foot div:nth-child(3) {
  display: flex;
  align-items: center;
  grid-gap: 15px;
  gap: 15px;
}

.footer-foot div img {
  width: 100%;
  height: 22px;
  object-fit: cover;
}

.footer-foot div:nth-child(2) a {
  color: black;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
}

.medium-res {
  display: none;
}

@media screen and (max-width: 991px) {
  .footer-foot div:nth-child(1) {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  .footer-foot div:nth-child(1) {
    display: none;
  }

  .footer-foot div:nth-child(2) {
    display: none;
  }

  .footer-foot div:nth-child(3) {
    display: none;
  }

  .medium-res {
    display: flex;
    justify-content: space-between !important;
  }

  .footer-foot {
    /* height: 100px; */
  }

  .medium-resLogo {
    display: flex !important;
    margin-right: 30px;
  }

  .medium-resRight {
    display: flex !important;
    flex-direction: column;
  }

  .medium-resSocial {
    display: flex !important;
    justify-content: space-around;
  }

  .medium-resTer {
    display: flex !important;
    font-size: 10px !important;
    margin-top: 8px;
    justify-content: space-around;
    align-items: center;
    color: #fff;
  }

  .medium-resTer p {
    margin-bottom: 0;
  }

  .medium-resTer a {
    color: #fff !important;
  }

  .line {
    display: block !important;
  }
}

@media screen and (max-width: 320px) {
  .footer-foot {
    justify-content: flex-start;
  }

  .medium-resLogo {
    margin-right: 15px;
  }
}
@media screen and (max-width: 375px) {
  .footer-foot {
    /* height: 100%; */
  }
  div :nth-child(2) a {
    /* margin-bottom: -10px; */
  }
}
