.footer-body {
  padding: 10px 20%;
  background: #155aa9;
  display: flex;
  flex-direction: column;
}

.footer-body div:nth-child(1) div {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 30px;
  gap: 30px;
  margin-bottom: 15px;
}

.footer-body div:nth-child(1) div img:nth-child(1) {
  width: 66px;
  aspect-ratio: auto 66 / 27;
  height: 27px;
}

.footer-body div:nth-child(1) div img:nth-child(2) {
  width: 101px;
  aspect-ratio: auto 101 / 46;
  height: 46px;
}

.footer-body div:nth-child(1) div:nth-child(2) {
  color: #f5f5f5;
  font-size: 10px;
  line-height: 22px;
  text-align: center;
  font-family: "Segoe UI", "Poppins";
}

.footer-body > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f5f5f5;
  font-size: 10px;
  grid-gap: 3px;
  gap: 3px;

  padding-top: 40px;
}

.footer-body div:nth-child(2) a {
  color: #f5f5f5;
  font-family: Poppins;
  text-decoration: none;
  outline: 0;
  font-size: 10px;
  letter-spacing: 1px;
}

.footer-body > div:nth-child(2) > div {
  width: 20px;
  height: 1px;
  background: rgba(230, 221, 221, 0.3);
  -webkit-transform: matrix(0, 1, 1, 0, 0, 0);
  transform: matrix(0, 1, 1, 0, 0, 0);
}

@media screen and (max-width: 978px) {
  .footer-body {
    flex-direction: column-reverse;
    padding: 0;
  }

  .footer-body > div:nth-child(2) {
    padding: 22px 0;
  }

  .footer-body div:nth-child(1) div {
    padding: 21px 0 0;
  }

  .footer-body div:nth-child(1) div:nth-child(2) {
    font-size: 10px;
    line-height: 22px;
    text-align: center;
    color: #f5f5f5;
    padding-bottom: 20px;
    font-family: "Segoe UI", "Poppins";
    padding: 0 19%;
  }

  .footer-body > div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f5f5f5;
    font-size: 10px;
    grid-gap: 3px;
    gap: 3px;
    flex-direction: column;
    border-bottom: 1px solid rgba(235, 241, 255, 0.16);
  }

  .footer-body > div:nth-child(2) > div {
    width: 0;
    height: 0;
  }
}

@media screen and (max-width: 320px) {
  .termPrivacy {
    padding-right: 80px;
  }
  .footer-body img {
    margin-right: 50px;
  }
  .footer-body p {
    margin-right: 80px;
  }
}
