.footer-head {
  /* height: 47px; */
  padding: 0 19%;
  background: linear-gradient(#27aae1, #1c75bc);
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.footer-head div {
  display: flex;
  align-items: center;
  grid-gap: 15px;
  gap: 15px;
}

.footer-head div:nth-child(1) img {
  vertical-align: middle;
  border-style: none;
}

.footer-head div:nth-child(1) p {
  font-weight: 500;
  font-size: 10px;
  margin: 0;
}

@media screen and (max-width: 978px) {
  .footer-head {
    flex-direction: column;
    background-color: initial;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .footer-head div {
    padding: 9px 0;
    padding-right: 0px;
  }

  .footer-head div:nth-child(2) {
    background-color: #2a4272;
    width: 100%;
    justify-content: center;
  }
}

@media screen and (max-width: 320px) {
  .footer-head div {
    padding-right: 80px;
  }
  .footer-head div:nth-child(2) a {
    /* padding-left: 50px; */
  }
}
