@import "~antd/dist/antd.css";
#root {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Poppins", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.heading {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
}

/* .web {
  box-sizing: border-box;
  overflow: auto;
  margin: 0;
} */
.sporting {
  overflow-x: hidden;
}

@media screen and (max-width: 375px) {
  .sporting {
    overflow: auto;
    /* width: 100%; */
    /* overflow-x: auto; */
    display: contents;
    /* max-width: 420px;
    min-width: 420px; */
  }
  .heading {
    width: 100%;
  }
}
