.card-info {
  width: 100%;
}

.card-info .card-header {
  background: #2a4173;
  padding: 0 10px;
  line-height: 35px;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 14px;
  font-weight: bold;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  vertical-align: bottom;
}

.card-info .card-header .match-headername {
  width: calc(100% - 192px);
  display: flex;
  align-items: center;
  float: left;
}

.card-info .card-header .match-headername img {
  margin: 0;
  padding: 0;
}

.card-info .card-header .match-headername img {
  width: 16px;
  max-width: 16px;
  max-height: 16px;
  min-height: 16px;
  height: 16px;
  min-width: 16px;
  object-fit: contain;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}
.card-info .card-header .match-headername p {
  padding-left: 11px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.match-type {
  float: right;
  min-width: 252px;
  max-width: 252px;
}

.match-type ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.match-type ul li {
  width: 80px;
  text-align: center;
}

.card-content {
  min-height: 100%;
  background: #f5f5f5;
  border-radius: 0 0 10px 10px;
  margin-bottom: 15px;
  padding: 0px 8px 25px 8px;
}
@media screen and (max-width: 460px) {
  .match-type {
    max-width: 180px;
    min-width: 180px;
  }
}

/* Iphone 12pro max */
@media screen and (max-width: 428px) {
  .card-info {
    margin-left: 5px;
  }
}

/* Iphone 12 pro */
@media screen and (max-width: 390px) {
  /* .main-info {
    margin-left: -10px;
    margin-right: 35px;
  } */
  .match-type {
    max-width: 180px;
    min-width: 180px;
  }

  .card-content
    .data-list
    .league-matchTeam
    .league-matchName
    ul
    li:nth-child(1)
    div
    p:nth-child(1)
    span {
    display: none;
  }
  .league-matchBlock {
    margin-right: -25px;
  }
  .header-info ul li a.active {
    margin-right: 50px;
  }

  /* .card-content .data-list .league-matchTeam .league-matchBlock ul li {
  } */
}

@media screen and (max-width: 320px) {
  .card-info {
    margin-left: 0;
  }
}

@media screen and (max-width: 375px) {
  .main-info {
    margin-left: -20px;
    margin-right: 0;
  }
  .main-info {
  }
  .sportInfoMain {
  }
}
