.card {
  width: calc(100% - 473px);
  padding-top: 0;
  background-color: #fff;
  margin: 0 30px;
  position: sticky;
  /* overflow: auto; */
  overflow-y: auto;
  height: calc(100vh - 185px);
}

.card::-webkit-scrollbar {
  width: 8px;
}

.card::-webkit-scrollbar-thumb {
  background-color: #959296;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

/* Iphone 12pro max */
@media screen and (max-width: 991px) {
  .card {
    display: contents;
    margin-top: 100px;
  }
}

/* Iphone 12 pro */
@media screen and (max-width: 390px) {
  .card {
  }
}
