.right-main {
  min-width: 313px;
  max-width: 313px;
  /* max-width: 313px; */
  /* float: left; */
  margin-left: 0px;
  position: sticky;
  top: 185px;
  overflow-y: scroll;
  height: calc(100vh - 185px);
}

.right-main::-webkit-scrollbar {
  width: 8px;
}

.right-main::-webkit-scrollbar-thumb {
  background-color: #959296;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

@media screen and (max-width: 1500px) {
  .right-main {
    margin-right: -10px;
  }
}
@media screen and (max-width: 991px) {
  .right-main {
    display: contents;
  }
}
