.wrapper {
  margin: 350px 170px;
  display: flex;

  justify-content: space-around;
  height: 100%;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
}
.title {
  font-size: 3.7rem;
  font-weight: 600;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.faucet {
  width: 100%;
}

.inputWrapper {
  display: flex;
  width: 100%;
  flex-direction: horizontal;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.input {
  width: 100%;
  max-width: 400px;
}
.button {
  max-width: 400px;
  margin-bottom: 1rem;
  margin-left: 4.4rem;
  background: linear-gradient(#27aae1, #1c75bc);
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  width: 100%;
}

@media screen and (max-width: 991px) {
  .wrapper {
    margin: 250px 0;
    flex-direction: column;
  }

  .inputWrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .button {
    width: 100%;
    margin: 0;
  }

  .table-info {
    overflow: auto;
  }

  .title {
    font-size: 2.7rem;
  }
}
